@media (min-width: 768px) { /* line 3, ../sass/base.scss */
  body { background: url(../img/header/bg-stripe.gif) repeat-x 197px 0 white; } }

/* line 12, ../sass/base.scss */
h1, h2, h3, h4 { font-family: "Open Sans", sans-serif; font-weight: 400; letter-spacing: -0.05em; color: #39275b; }

/* line 19, ../sass/base.scss */
h1 { margin: 10px 0 25px; font-size: 2.65em; font-weight: 400; line-height: 1.1em; }

/* line 28, ../sass/base.scss */
h2, h3, h4 { margin-bottom: 10px; font-weight: 300; letter-spacing: 0; font-size: 1.7em; }

/* line 36, ../sass/base.scss */
h1 i, h1 em { font-weight: 400; font-family: Baskerville, "Times New Roman", Times, serif; text-transform: lowercase; font-size: 1.1em; }

/* line 43, ../sass/base.scss */
h2 { font-size: 1.5em; line-height: 26px; margin-bottom: 10px; letter-spacing: 0; font-weight: 300; }

/* line 51, ../sass/base.scss */
h3 { color: #5c441f; font-size: 1.3em; line-height: 26px; }

/* line 57, ../sass/base.scss */
h4 { font-weight: 600; font-size: 1.1em; line-height: 24px; }

/* line 63, ../sass/base.scss */
h4 em { color: #6b6b6b; font-family: Baskerville, "Times New Roman", Times, serif; font-weight: 300; font-size: 1.3em; }

/* line 70, ../sass/base.scss */
a { color: #407ba0; }

/* line 74, ../sass/base.scss */
a:focus { color: #005580; text-decoration: underline; }

/* line 79, ../sass/base.scss */
p { line-height: 1.5em; margin-bottom: 1.5em; }

/* line 85, ../sass/base.scss */
ul, ol { margin-bottom: 1.5em; }

/* line 89, ../sass/base.scss */
li { line-height: 21px; }

/* line 93, ../sass/base.scss */
img { height: auto !important; }

/* line 100, ../sass/base.scss */
object, embed, iframe { margin: 10px 0 15px; display: block; max-width: 100% !important; }

/* line 107, ../sass/base.scss */
hr { clear: both; }
