/* line 3, ../sass/ie8-and-down.scss */
input[type="text"].wTextInput { background: url("../img/search-bar.png") no-repeat 0 0 transparent; }

/* line 6, ../sass/ie8-and-down.scss */
#s { background: url("../img/search-bar.png") no-repeat 0 -54px transparent; }

/* line 9, ../sass/ie8-and-down.scss */
.menu-block { background: url("../img/header/ie-menu-bg.gif") repeat-y top right transparent; }

/* line 12, ../sass/ie8-and-down.scss */
.dropdown-menu a { display: inline-block; }

/* line 13, ../sass/ie8-and-down.scss */
.menu .sub-menu { border: 2px solid #e7e7e7; }

/* --- Cascading Bug Fix  --- */
/* line 17, ../sass/ie8-and-down.scss */
body h1 { margin: 10px 0 33px; font-size: 35px; font-weight: 600; }

/* line 22, ../sass/ie8-and-down.scss */
body h2 { font-size: 21px; line-height: 26px; margin-bottom: 10px; }
