input[type="text"].wTextInput {
	background: url('../img/search-bar.png') no-repeat 0 0 transparent;
}
#s {
	background: url('../img/search-bar.png') no-repeat 0 -54px transparent;
}
#primary {
	background: url('../img/misc/ie-rounded-corners.png') no-repeat 0 0 transparent;
	background-color: transparent !important;
}
.menu-block {
	background: url('../img/header/ie-menu-bg.gif') repeat-y top right transparent;
}
.dropdown-menu a { display: inline-block; }
.menu .sub-menu { border: 2px solid #e7e7e7; }

/* --- News page  --- */
 
#nc-right-col .widget {
	border: 1px solid #e3e3e3;
}
#nc-right-col .widget_search.widget {
	border: none;
}
#nc-header {
	border: 1px solid #E9E9E9;
}
.site-facultystaff #primary, .home.site-news #primary {
	background: none;
}

/* --- Cascading Bug Fix  --- */

body h1 {
	margin: 10px 0 33px;
	font-size: 35px;
	font-weight: 600; 
}
body h2 {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 10px;
}