/* line 8, ../sass/layout.scss */
.container { clear: both; }

/* line 12, ../sass/layout.scss */
#content { position: relative; padding: 20px 0; }
/* line 16, ../sass/layout.scss */
#content .inner { padding: 0 40px; }

/* line 23, ../sass/layout.scss */
.sidebar { margin-top: 40px; }
/* line 26, ../sass/layout.scss */
.sidebar .region { padding: 0 20px; }
/* line 30, ../sass/layout.scss */
.sidebar section { margin-bottom: 40px; }
/* line 34, ../sass/layout.scss */
.sidebar ul { margin-left: 0; list-style: none; }
/* line 41, ../sass/layout.scss */
.sidebar input, .sidebar textarea, .sidebar .uneditable-input { max-width: 90%; }

@media (min-width: 980px) { /* line 56, ../sass/layout.scss */
  nav#access ul.nav, #footer .menu-level-1 > ul.nav { display: table; table-layout: fixed; width: 100%; }
  /* line 63, ../sass/layout.scss */
  nav#access ul.nav > li, div#footer > div.menu-global-footer-container > div.region-footer-nav > section > div.menu-level-1 > ul.nav > li { display: table-cell; float: none; width: auto; }
  /* line 69, ../sass/layout.scss */
  nav#access ul.nav > li { text-align: center; }
  /* line 73, ../sass/layout.scss */
  nav#access ul.nav > li > ul { text-align: left; }
  /* line 78, ../sass/layout.scss */
  nav#access ul.nav { border-left: 1px solid #5d5d5d; border-right: 1px solid #434343; }
  /* line 83, ../sass/layout.scss */
  nav#access ul.nav > li { background: none; border-left: 1px solid #434343; border-right: 1px solid #5d5d5d; }
  /* line 90, ../sass/layout.scss */
  nav#access ul.nav > li > a { padding: 9px 6px 12px 6px; }
  /* line 94, ../sass/layout.scss */
  #footer .menu-level-1 > ul.nav > li { padding: 0 10px; }
  /* line 98, ../sass/layout.scss */
  ul.dropdown-menu { top: auto; margin-top: 6px; } }
