@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700");
@media (min-width: 768px) { /* line 3, ../sass/base.scss */
  body { background: url(../img/header/bg-stripe.gif) repeat-x 197px 0 white; } }

/* line 12, ../sass/base.scss */
h1, h2, h3, h4 { font-family: "Open Sans", sans-serif; font-weight: 400; letter-spacing: -0.05em; color: #39275b; }

/* line 19, ../sass/base.scss */
h1 { margin: 10px 0 25px; font-size: 2.65em; font-weight: 400; line-height: 1.1em; }

/* line 28, ../sass/base.scss */
h2, h3, h4 { margin-bottom: 10px; font-weight: 300; letter-spacing: 0; font-size: 1.7em; }

/* line 36, ../sass/base.scss */
h1 i, h1 em { font-weight: 400; font-family: Baskerville, "Times New Roman", Times, serif; text-transform: lowercase; font-size: 1.1em; }

/* line 43, ../sass/base.scss */
h2 { font-size: 1.5em; line-height: 26px; margin-bottom: 10px; letter-spacing: 0; font-weight: 300; }

/* line 51, ../sass/base.scss */
h3 { color: #5c441f; font-size: 1.3em; line-height: 26px; }

/* line 57, ../sass/base.scss */
h4 { font-weight: 600; font-size: 1.1em; line-height: 24px; }

/* line 63, ../sass/base.scss */
h4 em { color: #6b6b6b; font-family: Baskerville, "Times New Roman", Times, serif; font-weight: 300; font-size: 1.3em; }

/* line 70, ../sass/base.scss */
a { color: #407ba0; }

/* line 74, ../sass/base.scss */
a:focus { color: #005580; text-decoration: underline; }

/* line 79, ../sass/base.scss */
p { line-height: 1.5em; margin-bottom: 1.5em; }

/* line 85, ../sass/base.scss */
ul, ol { margin-bottom: 1.5em; }

/* line 89, ../sass/base.scss */
li { line-height: 21px; }

/* line 93, ../sass/base.scss */
img { height: auto !important; }

/* line 100, ../sass/base.scss */
object, embed, iframe { margin: 10px 0 15px; display: block; max-width: 100% !important; }

/* line 107, ../sass/base.scss */
hr { clear: both; }

/* line 8, ../sass/layout.scss */
.container { clear: both; }

/* line 12, ../sass/layout.scss */
#content { position: relative; padding: 20px 0; }
/* line 16, ../sass/layout.scss */
#content .inner { padding: 0 40px; }

/* line 23, ../sass/layout.scss */
.sidebar { margin-top: 40px; }
/* line 26, ../sass/layout.scss */
.sidebar .region { padding: 0 20px; }
/* line 30, ../sass/layout.scss */
.sidebar section { margin-bottom: 40px; }
/* line 34, ../sass/layout.scss */
.sidebar ul { margin-left: 0; list-style: none; }
/* line 41, ../sass/layout.scss */
.sidebar input, .sidebar textarea, .sidebar .uneditable-input { max-width: 90%; }

@media (min-width: 980px) { /* line 56, ../sass/layout.scss */
  nav#access ul.nav, #footer .menu-level-1 > ul.nav { display: table; table-layout: fixed; width: 100%; }
  /* line 63, ../sass/layout.scss */
  nav#access ul.nav > li, div#footer > div.menu-global-footer-container > div.region-footer-nav > section > div.menu-level-1 > ul.nav > li { display: table-cell; float: none; width: auto; }
  /* line 69, ../sass/layout.scss */
  nav#access ul.nav > li { text-align: center; }
  /* line 73, ../sass/layout.scss */
  nav#access ul.nav > li > ul { text-align: left; }
  /* line 78, ../sass/layout.scss */
  nav#access ul.nav { border-left: 1px solid #5d5d5d; border-right: 1px solid #434343; }
  /* line 83, ../sass/layout.scss */
  nav#access ul.nav > li { background: none; border-left: 1px solid #434343; border-right: 1px solid #5d5d5d; }
  /* line 90, ../sass/layout.scss */
  nav#access ul.nav > li > a { padding: 9px 6px 12px 6px; }
  /* line 94, ../sass/layout.scss */
  #footer .menu-level-1 > ul.nav > li { padding: 0 10px; }
  /* line 98, ../sass/layout.scss */
  ul.dropdown-menu { top: auto; margin-top: 6px; } }
@media (max-width: 767px) { /* line 4, ../sass/layout-mobile.scss */
  body { padding: 0; }
  /* line 7, ../sass/layout-mobile.scss */
  p { font-size: 15px; }
  /* line 10, ../sass/layout-mobile.scss */
  article { padding: 0 15px; }
  /* line 13, ../sass/layout-mobile.scss */
  .container-primary { position: inherit; width: inherit; left: inherit; margin-left: inherit; }
  /* line 19, ../sass/layout-mobile.scss */
  #menu-primary-menu { padding: 10px 0 0 0; }
  /* Stuff to Hide */
  /* line 23, ../sass/layout-mobile.scss */
  .header-image, .skip-link, .assistive-text { display: none; }
  /* ============================================================================= Mobile Header Queries Rewrite ========================================================================== */
  /* line 30, ../sass/layout-mobile.scss */
  #header { background: url("http://www.washington.edu/static/mobile/image/top_bg_z.jpg") repeat-x scroll center top white; position: relative; }
  /* line 34, ../sass/layout-mobile.scss */
  #listicon-wrapper, #searchicon-wrapper { background: url("../img/mobile-header/dropdowns1x.png") no-repeat -29px 0px transparent; position: absolute; top: 4px; right: 10px; width: 35px; height: 30px; display: block; text-indent: -9999px; overflow: hidden; }
  /* line 45, ../sass/layout-mobile.scss */
  #searchicon-wrapper { right: 50px; height: 30px; background: url("../img/mobile-header/dropdowns1x.png") no-repeat 7px 0px transparent; }
  /* ============================================================================= Mobile Header Queries ========================================================================== */
  /* line 53, ../sass/layout-mobile.scss */
  #headerMobile { position: relative; width: 100%; }
  /* line 57, ../sass/layout-mobile.scss */
  #background { width: 100%; background-color: #000; opacity: .5; position: absolute; display: none; }
  /* line 64, ../sass/layout-mobile.scss */
  #background.open { display: block; }
  /* line 67, ../sass/layout-mobile.scss */
  #weather { bottom: 3px; color: #fff; font-size: 11px; height: 45px; left: 10px; padding: 0; position: absolute; text-transform: uppercase; width: 48px; text-align: center; font-weight: bold; }
  /* line 80, ../sass/layout-mobile.scss */
  #weather a { color: #fff; line-height: 11px; font-weight: bold; font-size: 11px; }
  /* line 86, ../sass/layout-mobile.scss */
  #search { box-shadow: inset 0px -2px 4px #DDD; -webkit-box-shadow: inset 0px -2px 4px #DDD; background-color: #fff; }
  /* line 91, ../sass/layout-mobile.scss */
  .search-options { display: none; }
  /* line 94, ../sass/layout-mobile.scss */
  .main-search { height: 0; overflow: hidden; margin: 0 auto; width: 95%; position: relative; transition: height .5s; -moz-transition: height .5s; /* Firefox 4 */ -webkit-transition: height .52s; /* Safari and Chrome */ -o-transition: height .5s; /* Opera */ -webkit-transform: translate3d(0, 0, 0); }
  /* line 109, ../sass/layout-mobile.scss */
  .wfield { -webkit-box-shadow: inset 2px 2px 4px #888; box-shadow: inset 2px 2px 4px #888; -webkit-border-radius: 20px; border-radius: 20px; overflow: hidden; width: 100%; height: 30px; border: none; background: url("http://www.washington.edu/static/mobile/image/mag.gif") no-repeat right center white; margin-top: 5px; display: block; }
  /* line 122, ../sass/layout-mobile.scss */
  .wfield input { -webkit-appearance: none; height: 25px; padding: 3px 0 5px 15px; border: none; width: 100%; background: none; font-size: 15px; color: #484848; }
  /* line 132, ../sass/layout-mobile.scss */
  #logo { text-align: center; height: 44px; }
  /* line 136, ../sass/layout-mobile.scss */
  .formbutton { display: none; }
  /* ============================================================================= Body Content Styles ========================================================================== */
  /* line 142, ../sass/layout-mobile.scss */
  .widget_nav_menu a, .subpage_menu a { font-size: 15px; padding: 4px 0; }
  /* line 146, ../sass/layout-mobile.scss */
  .region-sidebar-first { padding: 15px; }
  /* line 149, ../sass/layout-mobile.scss */
  #respond input[type="text"], #respond textarea { width: 95%; }
  /* line 152, ../sass/layout-mobile.scss */
  #content .date, .author-info { margin-left: 15px; }
  /* line 155, ../sass/layout-mobile.scss */
  .story-tags { display: none; }
  /* line 158, ../sass/layout-mobile.scss */
  .info-box { padding: 10px 15px; margin: 30px 0 30px 0; border-top: 4px solid #D7A900; border-bottom: 4px solid #D7A900; background-color: #F9F9F9; }
  /* line 165, ../sass/layout-mobile.scss */
  #s { width: 90%; padding: 9px 0 9px 10%; }
  /* Image Handling */
  /* line 171, ../sass/layout-mobile.scss */
  .image-magnifier { display: none; }
  /* line 174, ../sass/layout-mobile.scss */
  .alignleft, .alignright, .alignnone { min-width: 225px !important; max-width: 100% !important; margin: 0 auto; }
  /* line 179, ../sass/layout-mobile.scss */
  .alignleft img, .alignright img, .alignnone img { height: auto !important; width: 100% !important; min-width: 225px !important; margin: 1.6em 0 0; }
  /* line 185, ../sass/layout-mobile.scss */
  .wp-caption-text, .wp-media-credit { padding: 5px 10px 10px; font-size: 13px; line-height: 16px; background-color: #F4F4F4; }
  /* line 191, ../sass/layout-mobile.scss */
  .wp-media-credit { padding: 5px 15px 2px; text-align: right; font-style: italic; margin-bottom: 0; }
  /* line 197, ../sass/layout-mobile.scss */
  .wp-media-credit:empty { display: none; }
  /* Copy */
  /* line 201, ../sass/layout-mobile.scss */
  body h1 { padding: 0 15px 0 10px; margin: 16px 0 16px 0; border-left: 4px solid #D7A900; display: block; font-size: 24px; line-height: 27px; }
  /* line 209, ../sass/layout-mobile.scss */
  h1 i, h1 em { font-size: 31px; }
  /* ----  Disqus ---- */
  /* line 213, ../sass/layout-mobile.scss */
  #disqus_thread { margin: 0 15px; }
  /* ----  Thin Strip Footer ---- */
  /* line 217, ../sass/layout-mobile.scss */
  #footer { display: none; } }
/* line 5, ../sass/modules/alert.scss */
#uwalert-alert-message { position: relative; z-index: 1; }

/* line 10, ../sass/modules/alert.scss */
#alert-mini { position: fixed; display: none; top: 0; right: 0; left: 0; text-align: center; z-index: 1; color: #fff; padding: 40px 0 10px 0; z-index: 0; }

/* line 23, ../sass/modules/alert.scss */
.logged-in #alert-mini { top: 28px; }

/* line 25, ../sass/modules/alert.scss */
#uwalert-alert-message div { width: 1100px; margin: 0 auto; padding: 5px 0 15px; }

/* line 31, ../sass/modules/alert.scss */
#uwalert-alert-message h1, #uwalert-alert-message p { color: white; padding: 5px 100px 0 200px; margin: 0; }

/* line 37, ../sass/modules/alert.scss */
#uwalert-alert-message h1 { font-size: 18px; }

/* line 41, ../sass/modules/alert.scss */
#uwalert-alert-message p { font-size: 13px; line-height: 15px; }

/* line 46, ../sass/modules/alert.scss */
#uwalert-alert-message a { color: #FDE048; }

/* line 50, ../sass/modules/alert.scss */
.uwalert-red { background-color: #C61029; }

/* line 54, ../sass/modules/alert.scss */
.uwalert-red div { background: url("http://www.uw.edu/static/alert_logo_red-v2.jpg") no-repeat 0 -38px; }

/* line 58, ../sass/modules/alert.scss */
#alert-mini.uwalert-red { background: url("http://www.uw.edu/static/alert_logo_red-v2.jpg") no-repeat 16% 14% #c61029; background-size: 18%; }

/* line 63, ../sass/modules/alert.scss */
.uwalert-steel { background-color: #597286; }

/* line 67, ../sass/modules/alert.scss */
.uwalert-steel div { background: url("http://www.uw.edu/static/alert_logo_steel-v2.jpg") no-repeat 0 -38px; }

/* line 71, ../sass/modules/alert.scss */
#alert-mini.uwalert-steel { background: url("http://www.uw.edu/static/alert_logo_steel-v2.jpg") no-repeat 16% 14% #597286; background-size: 18%; }

/* line 76, ../sass/modules/alert.scss */
.uwalert-blue { background-color: #0193c9; }

/* line 80, ../sass/modules/alert.scss */
.uwalert-blue div { background: url("http://www.uw.edu/static/alert_logo_blue-v2.jpg") no-repeat 0 -38px; }

/* line 84, ../sass/modules/alert.scss */
#alert-mini.uwalert-blue { background: url("http://www.uw.edu/static/alert_logo_blue-v2.jpg") no-repeat 16% 14% #0193c9; background-size: 18%; }

/* line 89, ../sass/modules/alert.scss */
.uwalert-orange { background-color: #ec7330; }

/* line 93, ../sass/modules/alert.scss */
.uwalert-orange div { background: url("http://www.uw.edu/static/alert_logo_orange-v2.jpg") no-repeat 0 -38px; }

/* line 97, ../sass/modules/alert.scss */
#alert-mini.uwalert-orange { background: url("http://www.uw.edu/static/alert_logo_orange-v2.jpg") no-repeat 16% 14% #ec7330; background-size: 18%; }

@media (min-width: 768px) and (max-width: 979px) { /* line 103, ../sass/modules/alert.scss */
  #uwalert-alert-message h1, #uwalert-alert-message p { color: white; padding: 5px 0 0 200px; margin: 0; }
  /* line 108, ../sass/modules/alert.scss */
  #uwalert-alert-message div { width: 768px; } }
@media (max-width: 767px) { /* line 114, ../sass/modules/alert.scss */
  .alert-steel div, .alert-orange div, .alert-red div, .alert-blue divs { background-position: center -40px; }
  /* line 117, ../sass/modules/alert.scss */
  #uwalert-alert-message { position: relative; z-index: 1; }
  /* line 121, ../sass/modules/alert.scss */
  #uwalert-alert-message div { width: 100%; padding-top: 65px; }
  /* line 125, ../sass/modules/alert.scss */
  #uwalert-alert-message h1, #uwalert-alert-message p { color: #fff; padding: 5px 15px 5px 30px; margin: 0; border: none; }
  /* line 131, ../sass/modules/alert.scss */
  #uwalert-alert-message h1 { line-height: 18px; } }
@media (min-width: 768px) { /* line 4, ../sass/modules/branding.scss */
  #branding { position: relative; height: auto; margin-bottom: 20px; padding-top: 30px; background-image: url('../img/header/cherries.jpg?1363649974'); background-position: center top; z-index: 5; }
  /* line 13, ../sass/modules/branding.scss */
  #branding a:focus { outline: thin dotted white; }
  /* line 17, ../sass/modules/branding.scss */
  .wordmark, .patch { position: absolute; display: block; top: -30px; left: 0; }
  /* line 23, ../sass/modules/branding.scss */
  .patch { width: 95px; height: 90px; background-color: #d7a900; }
  /* line 27, ../sass/modules/branding.scss */
  .patch img { display: block; margin: 20px auto; width: 75px; }
  /* line 33, ../sass/modules/branding.scss */
  .purple-patch .patch { background-color: #39275b; }
  /* line 36, ../sass/modules/branding.scss */
  .hide-patch .patch { display: none; }
  /* line 39, ../sass/modules/branding.scss */
  .wordmark { top: 0; left: 115px; width: 400px; height: 100px; }
  /* line 45, ../sass/modules/branding.scss */
  .wordmark-white .wordmark { background-position: 0 -197px; } }
@media (max-width: 767px) { /* line 51, ../sass/modules/branding.scss */
  #branding { height: auto; background-image: none; background-color: #fff; }
  /* line 56, ../sass/modules/branding.scss */
  .patch { display: none; }
  /* line 59, ../sass/modules/branding.scss */
  .wordmark { background: url("../img/mobile-header/logo1x.png") no-repeat 0 0 transparent; width: 263px; height: 44px; text-indent: -9999px; overflow: hidden; display: block; } }
@media (min-width: 768px) and (max-width: 979px) { /* line 68, ../sass/modules/branding.scss */
  .wordmark { left: 130px; } }

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (min-device-pixel-ratio: 1.5) { /* line 76, ../sass/modules/branding.scss */
  .wordmark { background: url("../img/mobile-header/logo2x.png") no-repeat 0 0 transparent; background-size: 230px 35px; } }
@media (min-width: 980px) { /* line 3, ../sass/modules/thinstrip.scss */
  .thinstrip-inner { width: 95.83333%; float: right; margin-left: 0; margin-right: 2.08333%; clear: none; } }
@media (min-width: 1200px) { /* line 3, ../sass/modules/thinstrip.scss */
  .thinstrip-inner { width: 79.16667%; float: left; margin-right: -100%; margin-left: 10.41667%; clear: none; } }

@media (min-width: 768px) { /* line 13, ../sass/modules/thinstrip.scss */
  .thinstrip ul { float: right; }
  /* line 16, ../sass/modules/thinstrip.scss */
  .thinstrip { height: 30px; position: absolute; top: 0; left: 0; right: 0; background-color: #39275B; z-index: 1; -webkit-box-shadow: 0 0 6px #333333; -moz-box-shadow: 0 0 6px #333333; box-shadow: 0 0 6px #333333; overflow: hidden; }
  /* line 27, ../sass/modules/thinstrip.scss */
  .thinstrip-fixed { position: fixed; top: 0px; }
  /* line 31, ../sass/modules/thinstrip.scss */
  .thinstrip-fixed > .thinstrip-inner { background: url("../img/mobile-header/logo1x.png") no-repeat -35px -5px; }
  /* line 34, ../sass/modules/thinstrip.scss */
  .thinstrip-inner { height: 30px; }
  /* line 37, ../sass/modules/thinstrip.scss */
  .thinstrip li { float: left; list-style: none; padding: 5px 10px 0 0; }
  /* line 42, ../sass/modules/thinstrip.scss */
  .thinstrip li a { color: #fff; font-size: 73%; text-transform: uppercase; font-weight: bold; }
  /* line 48, ../sass/modules/thinstrip.scss */
  .thinstrip img { margin-top: -8px; }
  /* line 51, ../sass/modules/thinstrip.scss */
  .tan-band .thinstrip { background-color: #f3f2e9; }
  /* line 54, ../sass/modules/thinstrip.scss */
  .tan-band .thinstrip a { color: #555; text-shadow: 1px 1px 1px #fff; }
  /* line 58, ../sass/modules/thinstrip.scss */
  .tan-band .thinstrip-fixed .thinstrip-inner { background: url(../img/header/header-sprite.png) no-repeat 10px -225px transparent; } }
@media (max-width: 767px) { /* line 64, ../sass/modules/thinstrip.scss */
  .main-search, .thinstrip { visibility: hidden; }
  /* line 67, ../sass/modules/thinstrip.scss */
  .main-search.activate, .thinstrip.activate { height: 45px; transition: height .5s; -moz-transition: height .5s; /* Firefox 4 */ -webkit-transition: height .52s; /* Safari and Chrome */ -o-transition: height .5s; /* Opera */ /*visibility: visible;*/ }
  /* line 78, ../sass/modules/thinstrip.scss */
  .thinstrip.activate { height: 340px; display: block !important; }
  /* line 82, ../sass/modules/thinstrip.scss */
  .thinstrip { height: 0; overflow: hidden; z-index: 9999; transition: height .5s; -moz-transition: height .5s; /* Firefox 4 */ -webkit-transition: height .52s; /* Safari and Chrome */ -o-transition: height .5s; /* Opera */ width: 100%; visibility: hidden; }
  /* line 96, ../sass/modules/thinstrip.scss */
  .thinstrip span { background: url("../img/misc/arrow2.png") no-repeat scroll right -69px transparent; color: #FFFFFF; display: block; font-size: 10px; height: 32px; padding: 8px 0 0; text-align: center; text-transform: uppercase; width: 61px; }
  /* line 107, ../sass/modules/thinstrip.scss */
  .thinstrip .menuShow { display: block; }
  /* line 110, ../sass/modules/thinstrip.scss */
  .thinstrip ul { background: url("../img/mobile-header/gridLines.png") center center no-repeat white; height: 325px; z-index: 9999; box-shadow: inset 0 0 20px #d3d3d3; -webkit-box-shadow: inset 0 0 20px #d3d3d3; margin: 5px; padding: 0; border: 1px solid #e1e1e1; }
  /* line 120, ../sass/modules/thinstrip.scss */
  .thinstrip li { float: left; list-style: none outside none; margin: 20px 0 0; text-align: center; width: 33%; }
  /* line 127, ../sass/modules/thinstrip.scss */
  .thinstrip a { clear: both; display: block; }
  /* line 131, ../sass/modules/thinstrip.scss */
  .thinstrip li a { color: #39275B; margin: 0; font-size: .8em; }
  /* line 136, ../sass/modules/thinstrip.scss */
  .thinstrip li a:last-child { margin: 5px 0 0 0; }
  /* line 139, ../sass/modules/thinstrip.scss */
  .thinstrip li a { padding: 54px 0 0 0; }
  /* line 142, ../sass/modules/thinstrip.scss */
  .thinstrip li a { background-image: url("../img/mobile-header/sprite1x.png"); background-repeat: no-repeat; }
  /* line 146, ../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(1) a { background-position: center 0; }
  /* line 149, ../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(2) a { background-position: center -173px; }
  /* line 152, ../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(3) a { background-position: center -267px; }
  /* line 155, ../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(4) a { background-position: center -364px; }
  /* line 158, ../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(5) a { background-position: center -446px; }
  /* line 161, ../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(6) a { background-position: center -690px; }
  /* line 164, ../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(7) a { background-position: center -530px; }
  /* line 167, ../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(9) a { background-position: center -83px; }
  /* line 170, ../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(10) a { background-position: center -530px; }
  /* line 173, ../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(11) a { background: none; padding: 0; }
  /* line 177, ../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(12) a { background: none; padding: 0; margin: 0; }
  /* line 182, ../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(12) { background: none; margin: 0; } }
@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (min-device-pixel-ratio: 1.5) { /* line 190, ../sass/modules/thinstrip.scss */
  .thinstrip ul { background: url("../img/mobile-header/gridLinesX2.png") center center no-repeat #f8f8f8; background-size: 295px 315px; }
  /* line 194, ../sass/modules/thinstrip.scss */
  .thinstrip li a { background-image: url("../img/mobile-header/sprite2x.png"); background-size: 77px 750px; } }
/* line 3, ../sass/modules/navbar.scss */
.navbar { clear: both; }

@media (min-width: 980px) { /* line 8, ../sass/modules/navbar.scss */
  .navbar { margin-bottom: 0; }
  /* line 11, ../sass/modules/navbar.scss */
  #navbar-menu { padding: 5px 0; background-color: #4b4b4b; border-top: 1px solid #fff; border-bottom: 1px solid #fff; -webkit-box-shadow: 0 0 8px #9c9c9c; -moz-box-shadow: 0 0 8px #9c9c9c; box-shadow: 0 0 8px #9c9c9c; /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
  /* line 48, ../../../../../../../../../Users/joel/.rvm/gems/ruby-2.0.0-p247/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  #navbar-menu:before, #navbar-menu:after { content: "."; display: block; height: 0; overflow: hidden; }
  /* line 55, ../../../../../../../../../Users/joel/.rvm/gems/ruby-2.0.0-p247/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_clearfix.scss */
  #navbar-menu:after { clear: both; }
  /* line 19, ../sass/modules/navbar.scss */
  .navbar-inner { position: relative; padding: 0; border: none; background-color: transparent; background-image: none; filter: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; width: 95.83333%; float: right; margin-left: 0; margin-right: 2.08333%; clear: none; }
  /* line 33, ../sass/modules/navbar.scss */
  .navbar .nav > li > .dropdown-menu:before { top: -11px; border-bottom-color: #d7a900; }
  /* line 37, ../sass/modules/navbar.scss */
  .navbar .nav > li > .dropdown-menu:after { top: -10px; border-bottom-color: #d7a900; }
  /* line 41, ../sass/modules/navbar.scss */
  .navbar .nav > li > a { color: #fff; text-shadow: none; padding: 9px 9px 12px; }
  /* line 47, ../sass/modules/navbar.scss */
  .navbar .nav, .dropup { position: relative; }
  /* line 50, ../sass/modules/navbar.scss */
  .dropdown-menu > li > a { border-bottom: 1px solid #f1f1f1; margin: 0 30px 3px 0; padding: 3px 10px 3px 7px; font-size: 105%; color: #717171; }
  /* line 57, ../sass/modules/navbar.scss */
  #branding .dropdown-menu li > a:focus { color: white; text-decoration: none; background-color: #08C; outline: none; }
  /* line 63, ../sass/modules/navbar.scss */
  .menu-wrap { margin: 0 auto; }
  /* line 66, ../sass/modules/navbar.scss */
  .rightside .inner-wrap { float: right; }
  /* line 69, ../sass/modules/navbar.scss */
  .menu-block { float: left; }
  /* line 72, ../sass/modules/navbar.scss */
  .menu-block li:last-child a { border: none; }
  /* line 75, ../sass/modules/navbar.scss */
  header .nav > li { background: url(../img/header/header-sprite.png) no-repeat 0 -265px transparent; }
  /* line 78, ../sass/modules/navbar.scss */
  header .nav > li:first-child { background: none; }
  /* line 82, ../sass/modules/navbar.scss */
  .navbar .nav > li > a:focus, .navbar .nav > li > a:hover { color: #d7a900; }
  /* line 86, ../sass/modules/navbar.scss */
  .navbar .nav .active > a, .navbar .nav .active > a:hover { color: #d7a900; background-color: transparent; }
  /* line 90, ../sass/modules/navbar.scss */
  .navbar .nav .dropdown-menu .active > a { background-color: #08C; color: white; }
  /* line 95, ../sass/modules/navbar.scss */
  .dropdown-toggle, .navbar .nav > li > a { font-family: "Open Sans",sans-serif; font-weight: 400; font-size: 1.1em; }
  /* line 101, ../sass/modules/navbar.scss */
  .navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret { border-top-color: #d7a900; border-bottom-color: #d7a900; }
  /* line 106, ../sass/modules/navbar.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown > .dropdown-toggle:focus { color: #D7A900; background-color: transparent; }
  /* line 111, ../sass/modules/navbar.scss */
  .navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret { border-top-color: #D7A900; border-bottom-color: #D7A900; margin-left: 3px; }
  /* line 118, ../sass/modules/navbar.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret { border-top-color: #d7a900; border-bottom-color: #d7a900; }
  /* line 122, ../sass/modules/navbar.scss */
  .caret { border-top: 6px solid #000; border-right: 6px solid transparent; border-left: 6px solid transparent; content: ""; opacity: 1; filter: alpha(opacity=100); }
  /* line 130, ../sass/modules/navbar.scss */
  .navbar-caret { background: url(../img/header/menu-arrow.gif) no-repeat 0 0 transparent; text-indent: -9999px; overflow: hidden; top: 31px; width: 24px; height: 12px; display: none; }
  /* line 139, ../sass/modules/navbar.scss */
  .nav > li.uw-medicine { text-indent: -99999px; overflow: hidden; width: 135px; background: url(../img/header/header-sprite.png) no-repeat 10px -108px transparent; }
  /* line 145, ../sass/modules/navbar.scss */
  .navbar .nav > li.uw-medicine > a { cursor: pointer; }
  /* line 148, ../sass/modules/navbar.scss */
  .nav > li.uw-medicine:hover { background-position: 10px -142px; }
  /* line 151, ../sass/modules/navbar.scss */
  .dropdown-menu { top: 42px; left: 0; padding: 20px 0 20px 20px; border: none; border-top: 4px solid #d7a900; margin: -1px 0 0; background: rgba(255, 255, 255, 0.9); -webkit-box-shadow: inset 0 0 7px #656565; -moz-box-shadow: inset 0 0 7px #656565; box-shadow: inset 0 0 7px #656565; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
  /* line 162, ../sass/modules/navbar.scss */
  .open > .dropdown-menu { -webkit-transition-property: height,background,box-shadow,border-radius,opacity; -webkit-transition-duration: 0.3s; -moz-transition-property: height,background,box-shadow,border-radius,opacity; -moz-transition-duration: 0.3s; background: rgba(255, 255, 255, 0.98); opacity: 1; -webkit-box-shadow: 1px 1px 5px gray; -moz-box-shadow: 1px 1px 5px gray; box-shadow: 1px 1px 5px gray; }
  /* line 171, ../sass/modules/navbar.scss */
  .open > .dropdown-menu { animation-name: slidenavAnimation; animation-duration: .25s; animation-iteration-count: 1; animation-timing-function: ease; animation-fill-mode: forwards; -webkit-animation-name: slidenavAnimation; -webkit-animation-duration: .25s; -webkit-animation-iteration-count: 1; -webkit-animation-timing-function: ease; -webkit-animation-fill-mode: forwards; -moz-animation-name: slidenavAnimation; -moz-animation-duration: .25s; -moz-animation-iteration-count: 1; -moz-animation-timing-function: ease; -moz-animation-fill-mode: forwards; } }
@media (min-width: 980px) and (min-width: 1200px) { /* line 19, ../sass/modules/navbar.scss */
  .navbar-inner { width: 79.16667%; float: left; margin-right: -100%; margin-left: 10.41667%; clear: none; } }

@media (min-width: 768px) and (max-width: 979px) { /* line 191, ../sass/modules/navbar.scss */
  .navbar .btn-navbar::before { content: "MENU"; position: absolute; right: 55px; color: #777; font-size: 12px; font-weight: bold; top: 5px; } }
@media (max-width: 979px) { /* line 204, ../sass/modules/navbar.scss */
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a { border-bottom: 1px dotted #e1e1e1; text-shadow: none; color: #39275b; position: relative; }
  /* line 210, ../sass/modules/navbar.scss */
  .nav-collapse .dropdown-menu::after { border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #000; border-top-color: #fff; content: " "; border-bottom-color: #fff; border-bottom: none; position: absolute; top: 31px; display: block; left: 32px; }
  /* line 223, ../sass/modules/navbar.scss */
  .nav-collapse .nav > li > a { margin-bottom: 0; }
  /* line 226, ../sass/modules/navbar.scss */
  .nav-collapse .dropdown-menu a { font-weight: normal; color: #555; padding-left: 0; padding-top: 5px; padding-bottom: 5px; text-shadow: 1px 1px 0 #fff; }
  /* line 234, ../sass/modules/navbar.scss */
  .nav-collapse .dropdown-menu a:hover { background-color: #08C; padding-left: 10px; color: #fff; text-shadow: 1px 1px 0 #3a3a3a; }
  /* line 240, ../sass/modules/navbar.scss */
  .navbar .nav .active > a, .navbar .nav .active > a:hover { color: #d7a900; background-color: inherit; }
  /* line 244, ../sass/modules/navbar.scss */
  .navbar .nav > li > a:hover { background-color: #fff; color: #d7a900; }
  /* line 248, ../sass/modules/navbar.scss */
  .nav-collapse .nav > li:last-child > a { border-bottom: none; }
  /* line 251, ../sass/modules/navbar.scss */
  .navbar-inner { background-color: #fff; display: block; padding: 0 0 0 0; box-shadow: 0 3px 4px #DDD; -webkit-box-shadow: 0 3px 4px #DDD; margin: 0 0 12px 0; background-image: none; border-radius: 0; filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0); }
  /* line 262, ../sass/modules/navbar.scss */
  .navbar-inner h3 { padding: 5px 0 0; margin: 0 0 5px; position: relative; width: 80%; }
  /* line 268, ../sass/modules/navbar.scss */
  .navbar-inner h3 a { font-size: 20px; font-family: 'Open Sans', sans-serif; font-weight: 400; letter-spacing: -.05em; color: #39275B; padding: 0 15px 0 10px; border-left: 4px solid #D7A900; display: inline-block; line-height: 22px; }
  /* line 279, ../sass/modules/navbar.scss */
  .navbar-inner h3 a::before { box-shadow: inset 2px 0 1px black; left: 0px; position: absolute; top: 50%; margin-top: -4px; display: block; border-left: 7px solid #D7A900; border-bottom: 6px solid transparent; border-top: 6px solid transparent; content: " "; }
  /* line 291, ../sass/modules/navbar.scss */
  .nav-collapse .open > .dropdown-menu { margin: 0; padding: 10px 15px; background-color: #F4F4F4; -webkit-box-shadow: inset 0 0 17px #999999; -moz-box-shadow: inset 0 0 17px #999999; box-shadow: inset 0 0 17px #999999; }
  /* line 297, ../sass/modules/navbar.scss */
  .nav-collapse .nav > li > a:hover { background-color: #f4f4f4; color: #484848; }
  /* line 301, ../sass/modules/navbar.scss */
  .open > .dropdown-menu { box-shadow: none; padding-bottom: 30px; }
  /* line 305, ../sass/modules/navbar.scss */
  .nav-collapse .dropdown-menu a:hover { background-color: #08C; }
  /* line 308, ../sass/modules/navbar.scss */
  .dropdown-toggle { border-bottom: 1px solid #f3f3f3; }
  /* line 311, ../sass/modules/navbar.scss */
  .nav li:last-child .dropdown-toggle { border: 0; }
  /* line 314, ../sass/modules/navbar.scss */
  .nav > li.uw-medicine { text-indent: 0; overflow: auto; width: 100%; background: none; }
  /* line 320, ../sass/modules/navbar.scss */
  #navbar-menu { background-color: #fff; }
  /* line 323, ../sass/modules/navbar.scss */
  .navbar .nav > li > a { color: #484848; padding: 12px 9px 12px 30px; }
  /* line 327, ../sass/modules/navbar.scss */
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a { color: #484848; }
  /* line 330, ../sass/modules/navbar.scss */
  #navbar-menu:before { top: 15px; }
  /* line 333, ../sass/modules/navbar.scss */
  .nav > li { background: none; }
  /* line 336, ../sass/modules/navbar.scss */
  .navbar .btn-navbar { text-shadow: none; background-color: #666; background-position: 0 0; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c2c2c2), color-stop(100%, #858585)); background-image: -webkit-linear-gradient(#c2c2c2, #858585); background-image: -moz-linear-gradient(#c2c2c2, #858585); background-image: -o-linear-gradient(#c2c2c2, #858585); background-image: linear-gradient(#c2c2c2, #858585); border-color: #222 #222 #000; border-color: #adadad; position: relative; z-index: 1; }
  /* line 346, ../sass/modules/navbar.scss */
  .navbar .btn-navbar:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #858585), color-stop(100%, #222222)); background-image: -webkit-linear-gradient(#858585, #222222); background-image: -moz-linear-gradient(#858585, #222222); background-image: -o-linear-gradient(#858585, #222222); background-image: linear-gradient(#858585, #222222); background-position: 0 0; } }
@keyframes slidenavAnimation { /* line 354, ../sass/modules/navbar.scss */
  from { opacity: 0; }
  /* line 357, ../sass/modules/navbar.scss */
  to { opacity: 1; } }

@-webkit-keyframes slidenavAnimation { /* line 363, ../sass/modules/navbar.scss */
  from { opacity: 0; }
  /* line 366, ../sass/modules/navbar.scss */
  to { opacity: 1; } }

/* line 5, ../sass/modules/nav-sidebar.scss */
li.expanded a.active-trail { border-left: 2px solid #ffd700; }

/* line 9, ../sass/modules/nav-sidebar.scss */
li > a.active { background-color: #fcf9dc; border-left: 2px solid #ffd700; }

/* line 5, ../sass/modules/nav-footer.scss */
#footer .menu-level-1 > ul.nav > li { float: left; width: 140px; margin-left: 20px; }

/* line 11, ../sass/modules/nav-footer.scss */
#footerBG { position: relative; top: -35px; clear: both; padding: 124px 0 20px 0; overflow: hidden; background: url(../img/footer-fs8.png) no-repeat center top transparent; }

/* line 20, ../sass/modules/nav-footer.scss */
#footer { width: 990px; margin: 0 auto; }

/* line 25, ../sass/modules/nav-footer.scss */
#footer li { line-height: 14px; list-style: none; margin-bottom: 5px; }

/* line 31, ../sass/modules/nav-footer.scss */
#footer ul { margin: 0; }

/* line 35, ../sass/modules/nav-footer.scss */
#footer h2 { font-size: 20px; margin: 0 0 45px 20px; }

/* line 40, ../sass/modules/nav-footer.scss */
#footer .menu-level-1 > ul.nav > li > a { display: block; margin-bottom: 10px; font-weight: bold; line-height: 15px; }

/* line 47, ../sass/modules/nav-footer.scss */
#footer a { color: #484848; font-size: 12px; }
/* line 50, ../sass/modules/nav-footer.scss */
#footer a:hover { background-color: transparent; text-decoration: underline; }

/* line 56, ../sass/modules/nav-footer.scss */
.social-footer { margin: 20px 0 0 0; }

/* line 60, ../sass/modules/nav-footer.scss */
.social-footer { margin: 20px 0 0 0; }

/* line 64, ../sass/modules/nav-footer.scss */
.social-footer .footerTitle { margin: 0 0 10px 0; }

/* line 73, ../sass/modules/nav-footer.scss */
.uw-facebook a, .uw-twitter a, .uw-youtube a, .uw-itunes a, .uw-muw a, .uw-linkedin a { background: url(../img/soc-med.gif) no-repeat 0 0 transparent; padding: 6px 0 6px 31px; margin-bottom: 3px; display: block; }

/* line 80, ../sass/modules/nav-footer.scss */
.uw-twitter a { background-position: 0 -92px; }

/* line 84, ../sass/modules/nav-footer.scss */
.uw-youtube a { background-position: 0 -30px; }

/* line 88, ../sass/modules/nav-footer.scss */
.uw-itunes a { background-position: 0 -60px; }

/* line 92, ../sass/modules/nav-footer.scss */
.uw-muw a { background-position: 0 -123px; }

/* line 96, ../sass/modules/nav-footer.scss */
.uw-linkedin a { background-position: 0 -154px; }

@media (min-width: 768px) { /* line 102, ../sass/modules/nav-footer.scss */
  #footer-main { background: url(../img/footer/bg.gif) repeat-x 0 0 #62584b; height: 25px; position: relative; padding: 4px 0 0; }
  /* line 109, ../sass/modules/nav-footer.scss */
  #footer-main a { font-weight: bold; text-transform: uppercase; font-size: 10px; color: #fff; }
  /* line 116, ../sass/modules/nav-footer.scss */
  #footer-main ul { text-align: center; margin: 0; }
  /* line 121, ../sass/modules/nav-footer.scss */
  #footer-main li { padding: 0 9px 0 0; display: inline; margin: 0 0 0 3px; border-right: 2px solid #a1a1a1; }
  /* line 128, ../sass/modules/nav-footer.scss */
  #footer-main li:last-child { border-right: none; }
  /* line 133, ../sass/modules/nav-footer.scss */
  #footer-left, #footer-right { position: absolute; top: 5px; left: 30px; }
  /* line 139, ../sass/modules/nav-footer.scss */
  #footer-right { right: 30px; left: auto; } }
/* line 145, ../sass/modules/nav-footer.scss */
div.region-footer-nav > section > ul.menu > li { /* -- Header items: Admissions, Academics, Campus Life... --*/ float: left; z-index: 0; font-size: 12px; }

/* line 153, ../sass/modules/nav-footer.scss */
div.region-footer-nav > section > ul.menu > li > a, div.region-footer-nav > section > ul.menu > li > div { margin-bottom: 9px; font-weight: bolder; }

/* line 159, ../sass/modules/nav-footer.scss */
div.region-footer-nav > section > ul.menu > li > a > span.caret, div.region-footer-nav > section > ul.menu > li > div > span.caret { display: none; }

/* line 163, ../sass/modules/nav-footer.scss */
div.region-footer-nav > section > ul.menu > li ul.dropdown-menu { /* -- the dropdown container -- */ border: none; line-height: 100%; top: 0px; position: relative; display: block; box-shadow: none; padding: 0px; background-color: transparent; }

/* line 175, ../sass/modules/nav-footer.scss */
div.region-footer-nav > section > ul.menu > li ul.dropdown-menu > li { /* -- the items in the dropdown -- */ }

/* line 179, ../sass/modules/nav-footer.scss */
div.region-footer-nav > section > ul.menu > li ul.dropdown-menu > li > a { /* -- links in the items in the dropdown -- */ margin: 0px; padding: 0px; border: none; line-height: 16px; background-color: none; background-image: none; }

@media (max-width: 767px) { /* line 191, ../sass/modules/nav-footer.scss */
  #footer-main { background: #bfbfbf; /* Old browsers */ background: -moz-linear-gradient(top, #bfbfbf 0%, #ededed 7%, #ededed 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(17%, #ededed), color-stop(100%, #ededed)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #bfbfbf 0%, #ededed 7%, #ededed 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #bfbfbf 0%, #ededed 7%, #ededed 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #bfbfbf 0%, #ededed 7%, #ededed 100%); /* IE10+ */ background: linear-gradient(top, #bfbfbf 0%, #ededed 7%, #ededed 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */ padding: 20px 0 0 0; }
  /* line 210, ../sass/modules/nav-footer.scss */
  #footer-main a { color: #484848; margin: 0 0 5px 0; }
  /* line 214, ../sass/modules/nav-footer.scss */
  #footer-main ul { text-align: center; margin: 0 15px; }
  /* line 218, ../sass/modules/nav-footer.scss */
  #footer-main li { list-style: none; display: inline-block; }
  /* line 222, ../sass/modules/nav-footer.scss */
  #footer-main li a { padding: 5px 10px; float: left; border-radius: 20px; background-color: #fff; box-shadow: inset 1px 1px 2px #b1b1b1; }
  /* line 229, ../sass/modules/nav-footer.scss */
  #footer-left { text-align: center; padding: 10px 0; }
  /* line 233, ../sass/modules/nav-footer.scss */
  #footer-right { display: none; } }
@media (min-width: 768px) { /* line 4, ../sass/modules/search.scss */
  .main-search { position: absolute; top: 20px; right: 45px; }
  /* line 10, ../sass/modules/search.scss */
  input[type="submit"].formbutton { position: absolute; left: 9px; top: 4px; background: url(../img/header/header-sprite.png) no-repeat -103px 2px transparent; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: none; display: block; text-indent: -999px; overflow: hidden; padding: 5px 16px; height: 28px; width: 32px; }
  /* line 25, ../sass/modules/search.scss */
  input[type="text"].wTextInput { -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; padding: 9px 0 9px 38px; width: 175px; color: #999; -webkit-box-shadow: 0 0 8px #8f8f8f; -moz-box-shadow: 0 0 8px #8f8f8f; box-shadow: 0 0 8px #8f8f8f; border: none; -webkit-transition: width 400ms ease, background 400ms ease; -moz-transition: width 400ms ease, background 400ms ease; -o-transition: width 400ms ease, background 400ms ease; transition: width 400ms ease, background 400ms ease; }
  /* line 36, ../sass/modules/search.scss */
  .wTextInput:focus, input[type="text"].wTextInput:focus { width: 225px; }
  /* line 40, ../sass/modules/search.scss */
  #search .search-toggle { display: none; position: absolute; top: 25px; right: 51px; width: 25px; height: 25px; background: url("../img/misc/super-search-handle.png") no-repeat center center #e4e4e4; -webkit-border-radius: 25px; -moz-border-radius: 25px; -ms-border-radius: 25px; -o-border-radius: 25px; border-radius: 25px; -webkit-box-shadow: 0 0 10px #bebebe; -moz-box-shadow: 0 0 10px #bebebe; box-shadow: 0 0 10px #bebebe; }
  /* line 53, ../sass/modules/search.scss */
  #ie7 #search .search-toggle, #ie8 #search .search-toggle { background: url("../img/misc/ie7-ie8-super-search-handle.png") no-repeat center center #e4e4e4; }
  /* line 58, ../sass/modules/search.scss */
  #ie7 #search .search-toggle.close-toggle, #ie8 #search .search-toggle.close-toggle { background: url("../img/misc/ie7-ie8-super-search-handle-close.png") no-repeat center center #e4e4e4; }
  /* line 62, ../sass/modules/search.scss */
  #search .search-toggle.close-toggle { background: url("../img/misc/super-search-handle-close.png") no-repeat center center #e4e4e4; }
  /* line 66, ../sass/modules/search.scss */
  #search .search-toggle:hover { cursor: pointer; -webkit-box-shadow: 0 0 10px #bebebe; -moz-box-shadow: 0 0 10px #bebebe; box-shadow: 0 0 10px #bebebe; }
  /* line 71, ../sass/modules/search.scss */
  #search .search-options { display: none; position: absolute; top: 60px; right: 30px; width: 130px; z-index: 999; background-color: white; -webkit-box-shadow: 0 0 8px #b5b5b5; -moz-box-shadow: 0 0 8px #b5b5b5; box-shadow: 0 0 8px #b5b5b5; padding: 20px 15px 15px 30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
  /* line 84, ../sass/modules/search.scss */
  #search .search-options-notch { background: url("../img/misc/super-search-notch.png") no-repeat -3px 0 transparent; color: #F4F4F4; display: block; width: 20px; height: 20px; position: absolute; font-size: 17px; top: -15px; right: 25px; }
  /* line 96, ../sass/modules/search.scss */
  #search .search-options label { padding: 5px; }
  /* line 100, ../sass/modules/search.scss */
  #search .search-options label:not(:last-child) { border-bottom: 1px solid #f1f1f1; }
  /* line 104, ../sass/modules/search.scss */
  #search .search-flash { display: none; position: absolute; top: 60px; right: 30px; z-index: 999; background-color: white; padding: 8px; -webkit-box-shadow: 0 0 8px #b5b5b5; -moz-box-shadow: 0 0 8px #b5b5b5; box-shadow: 0 0 8px #b5b5b5; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
  /* line 116, ../sass/modules/search.scss */
  #searchsubmit { position: absolute; left: 9px; top: 5px; background: url(../img/header/header-sprite.png) no-repeat -103px 2px transparent; box-shadow: none; border: none; display: block; text-indent: -999px; overflow: hidden; padding: 5px 16px; height: 28px; width: 32px; }
  /* line 131, ../sass/modules/search.scss */
  .widget_search { margin-bottom: 15px; }
  /* line 135, ../sass/modules/search.scss */
  .widget_search div { position: relative; } }
@media (min-width: 768px) and (max-width: 979px) { /* line 141, ../sass/modules/search.scss */
  .main-search { right: 0; }
  /* line 144, ../sass/modules/search.scss */
  #search .search-toggle { right: 7px; } }
/* line 3, ../sass/non-modular.scss */
.widget img { margin: 0 0 10px; }

/* line 7, ../sass/non-modular.scss */
.widget h2 { background: url(../img/widgets/headline-background.jpg) no-repeat -16px -148px transparent; padding: 32px 0 5px; }

/* line 12, ../sass/non-modular.scss */
.pagelet_widget h2 { background-position: -16px -295px; }

/* line 16, ../sass/non-modular.scss */
.widget_links h2 { background-position: -16px -148px; }

/* line 20, ../sass/non-modular.scss */
.documents h2 { background-position: -16px -154px; }

/* line 24, ../sass/non-modular.scss */
.video h2 { background-position: -16px -295px; }

/* line 28, ../sass/non-modular.scss */
.announcements h2 { background-position: -16px -454px; }

/* line 32, ../sass/non-modular.scss */
.widget_recent_entries h2 { background-position: -16px -578px; }

/* line 36, ../sass/non-modular.scss */
.widget_categories h2 { background-position: -16px -154px; }

/* line 40, ../sass/non-modular.scss */
.widget_archive h2 { background-position: -16px -295px; }

/* line 44, ../sass/non-modular.scss */
.popular-posts { background-position: -16px -295px; }

/* line 48, ../sass/non-modular.scss */
.widget_yarpp_widget h2 { background-position: -16px -578px; }

/* line 52, ../sass/non-modular.scss */
.widget_categories select { width: 100%; }

/* line 56, ../sass/non-modular.scss */
.widget_links li { margin: 0 0 10px; }

/* line 60, ../sass/non-modular.scss */
.widget_links a { font-size: 16px; display: block; line-height: 21px; }

/* line 66, ../sass/non-modular.scss */
.region-sidebar-first .video li { background: url(../img/widgets/widget-sprite.png) no-repeat 2px -201px transparent; padding: 2px 0 2px 25px; }

/* line 71, ../sass/non-modular.scss */
.screen-reader-text { position: absolute; z-index: -1; top: 12px; left: 25px; }

/* line 78, ../sass/non-modular.scss */
::-webkit-input-placeholder { color: #888888; }

/* line 82, ../sass/non-modular.scss */
:-moz-placeholder { color: #888888; }

/* line 87, ../sass/non-modular.scss */
.menu a.active-trail, .menu a.active { font-weight: bold; }

/* line 92, ../sass/non-modular.scss */
.widget_nav_menu h2 { margin: 0; padding: 0 0 30px 0; background: url('../img/side-menu-bg.gif?1363649974') no-repeat bottom center transparent; }
/* line 98, ../sass/non-modular.scss */
.widget_nav_menu h2 a { margin-left: -14px; padding-left: 13px; border: none; font-size: 21px; color: #39275b; background: url('../img/arrow.png?1363649974') no-repeat -25px -11px transparent; }
/* line 107, ../sass/non-modular.scss */
.widget_nav_menu a { display: block; padding: 4px 0; border-bottom: 1px solid #f4f4f4; font-size: 13px; color: #484848; text-decoration: none; }
/* line 116, ../sass/non-modular.scss */
.widget_nav_menu li { padding-left: 10px; }
/* line 120, ../sass/non-modular.scss */
.widget_nav_menu li a { margin-left: -14px; padding-left: 10px; position: relative; border-left: 4px solid #fff; -webkit-transition: background-color 0.15s linear; -moz-transition: background-color 0.15s linear; -o-transition: background-color 0.15s linear; transition: background-color 0.15s linear; }
/* line 127, ../sass/non-modular.scss */
.widget_nav_menu li a:hover { border-left: 4px solid #d7a900; background-color: #fcf9dc; }

/* line 134, ../sass/non-modular.scss */
.region-sidebar-first .menu a:hover { font-weight: bold; }

/* line 138, ../sass/non-modular.scss */
.region-sidebar-first .widgettitle a:hover { color: #919191; }

/* line 142, ../sass/non-modular.scss */
.entry-content ul li { margin-left: 0; margin-bottom: 5px; background: url("../img/bullet-gold.png") no-repeat left 7px transparent; padding-left: 12px; }

/* line 150, ../sass/non-modular.scss */
.more, .rss-more { background: url("../img/misc/bullet.png") right center no-repeat; padding-right: 10px; padding: 6px 17px 6px 10px; background-color: #F4F4F4; border-radius: 20px; }

/* line 158, ../sass/non-modular.scss */
.comment { list-style: none; }

/* line 162, ../sass/non-modular.scss */
.commentlist { margin: 0; }

/* line 166, ../sass/non-modular.scss */
.commentlist .children { margin: 0 0 0 20px; }

/* line 170, ../sass/non-modular.scss */
.comment-body { border-left: 3px solid #efefef; font-size: 14px; line-height: 18px; margin: 20px 0; padding: 0 20px; }

/* line 178, ../sass/non-modular.scss */
.depth-1 { border-bottom: 1px dotted #dddddd; }

/* line 182, ../sass/non-modular.scss */
.reply { text-align: right; font-size: 11px; text-transform: uppercase; font-weight: bold; }

/* line 189, ../sass/non-modular.scss */
.comment-author img { float: left; margin: 0 15px 0 0; }

/* line 194, ../sass/non-modular.scss */
.comment-body p { padding: 10px 0; }

/* line 199, ../sass/non-modular.scss */
#comments, #respond h3 { font-size: 16px; padding: 40px 15px 0 25px; display: block; clear: both; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; line-height: 20px; }

/* line 208, ../sass/non-modular.scss */
#respond h3 { padding: 40px 15px 15px 0; }

/* line 212, ../sass/non-modular.scss */
.nocomments { display: none; }

/* line 216, ../sass/non-modular.scss */
.entry-meta { margin: 10px 0; }

/* line 220, ../sass/non-modular.scss */
.pull-right { border: 2px solid; padding: 3px 12px; border-radius: 30px; background-color: #00B424; color: white; text-shadow: 1px 1px 1px #333; }

/* line 229, ../sass/non-modular.scss */
.pull-right .pull-right { padding: 0; border: 0; }

/* line 234, ../sass/non-modular.scss */
.pull-right a { color: white; }

/* line 238, ../sass/non-modular.scss */
.three-col { margin: 0 17px; }

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (min-device-pixel-ratio: 1.5) { /* line 246, ../sass/non-modular.scss */
  #listicon-wrapper { background: url("../img/mobile-header/dropdowns2x.png") no-repeat -29px 0px transparent; background-size: 66px 32px; }
  /* line 250, ../sass/non-modular.scss */
  #searchicon-wrapper { background: url("../img/mobile-header/dropdowns2x.png") no-repeat 10px 0px transparent; background-size: 66px 32px; } }
@media (min-width: 768px) { /* line 258, ../sass/non-modular.scss */
  .undefined { position: relative; }
  /* line 261, ../sass/non-modular.scss */
  .alignleft { float: left; margin: 5px 20px 15px 0; position: relative; }
  /* line 266, ../sass/non-modular.scss */
  .alignright { float: right; margin: 5px 0 15px 20px; position: relative; }
  /* line 271, ../sass/non-modular.scss */
  .wp-media-credit { text-align: right; font-size: 11px; margin: 5px 10px -10px 0; font-style: italic; }
  /* line 277, ../sass/non-modular.scss */
  .wp-caption-text { margin-left: 5px; margin-top: 15px; font-size: 12px; margin-right: 15px; line-height: 16px; }
  /* line 284, ../sass/non-modular.scss */
  .image-magnifier { width: 49px; padding: 10px 5px 9px 32px; background: url("../img/misc/misc-sprite.png") no-repeat 0 0 transparent; font-size: 9px; text-transform: uppercase; color: #fff; position: absolute; top: 10px; left: 5px; line-height: 11px; font-weight: bold; visibility: hidden; }
  /* line 298, ../sass/non-modular.scss */
  .image-fullsize { text-transform: uppercase; padding: 5px 0; font-weight: bold; text-align: center; width: 123px !important; background-color: white; position: absolute; left: 10px; top: 10px; color: #555; opacity: 0.5; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; font-size: 11px; }
  /* line 314, ../sass/non-modular.scss */
  .alignleft:hover .image-magnifier, .alignright:hover .image-magnifier { visibility: visible; }
  /* line 318, ../sass/non-modular.scss */
  .type-page ul, .type-post ul { overflow: hidden; }
  /* line 321, ../sass/non-modular.scss */
  .info-box { border-left: 4px solid #ddd; width: 245px; float: right; padding: 10px 0 0 20px; margin: 0 0 15px 30px; }
  /* line 328, ../sass/non-modular.scss */
  .info-box-large ul { margin-left: -10px; }
  /* line 331, ../sass/non-modular.scss */
  .info-box-large { padding: 25px 10px 15px; margin: 15px 0 15px 40px; width: 200px; border-left: none; border-top: 3px solid #d7a900; border-bottom: 3px solid #d7a900; }
  /* line 339, ../sass/non-modular.scss */
  .info-box-large .wp-caption-text { margin: 0 10px 10px 0; padding: 5px 0 5px 10px; background-color: #EEE; }
  /* line 344, ../sass/non-modular.scss */
  .entry-content .info-box-large h2 { margin-top: 0; }
  /* line 348, ../sass/non-modular.scss */
  #header { position: relative; height: 110px; width: 95.83333%; float: right; margin-left: 0; margin-right: 2.08333%; clear: none; z-index: 4; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
  /* line 364, ../sass/non-modular.scss */
  .header-image { margin-top: -200px; display: block; height: 145px; overflow: hidden; text-align: center; background-color: #d6e8fa; }
  /* line 372, ../sass/non-modular.scss */
  .assistive-text { position: absolute !important; z-index: -1; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
  /* line 379, ../sass/non-modular.scss */
  #header a.assistive-text:active, #header a.assistive-text:focus { padding: 6px 21px; z-index: 3; background: #EEE; border-bottom: 1px solid #ddd; color: #1982D1; clip: auto !important; font-size: 12px; position: absolute; text-decoration: underline; top: -30px; left: 9.9%; }
  /* line 392, ../sass/non-modular.scss */
  #access { position: relative; z-index: 3; }
  /* line 396, ../sass/non-modular.scss */
  .attachment-post-thumbnail.wp-post-image { margin: 0; }
  /* line 400, ../sass/non-modular.scss */
  .post-thumbnail.widget p { clear: both; display: block; font-size: 12px; margin: 0 15px 0 0; padding: 5px 5px 5px 10px; background-color: #F4F4F4; }
  /* line 408, ../sass/non-modular.scss */
  #content { background-color: white; }
  /* line 411, ../sass/non-modular.scss */
  .container-primary { position: relative; margin: 0 auto; padding: 20px 0; background-color: white; -webkit-box-shadow: 0 0 7px lightgrey; -moz-box-shadow: 0 0 7px lightgrey; box-shadow: 0 0 7px lightgrey; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; z-index: 1; }
  /* line 421, ../sass/non-modular.scss */
  #arrow-mark { position: absolute; left: -7px; top: 28px; background: url(../img/arrow.png) no-repeat 0 0 transparent; width: 32px; height: 50px; display: block; }
  /* line 431, ../sass/non-modular.scss */
  .slideshowpro-wrapper object { width: 100% !important; height: 442px !important; }
  /* line 435, ../sass/non-modular.scss */
  .blog.featured-image #arrow-mark { left: auto; top: auto; position: static; margin: -17px 0px 0 -55px; width: 675px; height: 102px; }
  /* line 443, ../sass/non-modular.scss */
  .parallax-viewport { position: relative; overflow: hidden; }
  /* line 447, ../sass/non-modular.scss */
  .parallax-layer { position: absolute; }
  /* line 450, ../sass/non-modular.scss */
  #parallax { margin: 1.5em 0px; overflow: hidden; position: relative; height: 450px; }
  /* line 456, ../sass/non-modular.scss */
  .four-oh-four { padding: 0 0 50px; }
  /* line 459, ../sass/non-modular.scss */
  .author h3 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 15px; line-height: 21px; }
  /* line 464, ../sass/non-modular.scss */
  .author img { float: left; padding: 0 25px 15px 0; }
  /* line 468, ../sass/non-modular.scss */
  .author .author-posts .span8 { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #ddd; }
  /* line 473, ../sass/non-modular.scss */
  .author .author-posts h2 { margin: 40px 0 20px; }
  /* line 476, ../sass/non-modular.scss */
  .category .entry-header { clear: both; }
  /* line 479, ../sass/non-modular.scss */
  .single #arrow-mark { top: 55px; }
  /* line 482, ../sass/non-modular.scss */
  div.author-info { font-size: 14px; margin: 10px 0 30px; border-left: 4px solid #ddd; padding: 0 0 0 15px; }
  /* line 488, ../sass/non-modular.scss */
  .date { margin-bottom: 0.6em; }
  /* line 491, ../sass/non-modular.scss */
  p small { font-size: 13px; }
  /* line 494, ../sass/non-modular.scss */
  .story-tags { margin-top: -15px; }
  /* line 497, ../sass/non-modular.scss */
  body.single h1 { margin: 0; font-size: 30px; font-weight: 400; }
  /* line 502, ../sass/non-modular.scss */
  .three-col { float: left; border-radius: 5px; width: 170px; }
  /* line 507, ../sass/non-modular.scss */
  .post-info { display: block; width: 100%; overflow: hidden; }
  /* line 512, ../sass/non-modular.scss */
  .post-info p { float: left; font-weight: bold; }
  /* line 516, ../sass/non-modular.scss */
  .post-info p.author-info { padding-left: 10px; margin-left: 10px; border-left: 1px solid #ddd; font-weight: normal; }
  /* line 525, ../sass/non-modular.scss */
  .two-sidebars .divider:before, .sidebar-first .divider:before { position: absolute; z-index: -1; left: 0; top: 0; width: 5px; height: 100%; -webkit-border-radius: 5px 200px; -moz-border-radius: 5px / 200px; border-radius: 5px / 200px; -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); content: ""; }
  /* line 537, ../sass/non-modular.scss */
  .two-sidebars .divider:after, .sidebar-second .divider:after { position: absolute; z-index: -1; right: 0; top: 0; width: 5px; height: 100%; -webkit-border-radius: 5px 200px; -moz-border-radius: 5px / 200px; border-radius: 5px / 200px; -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); content: ""; } }
@media (min-width: 768px) and (min-width: 1200px) { /* line 348, ../sass/non-modular.scss */
  #header { width: 79.16667%; float: left; margin-right: -100%; margin-left: 10.41667%; clear: none; } }

@media (min-width: 768px) and (max-width: 979px) { /* line 552, ../sass/non-modular.scss */
  #access { overflow: hidden; }
  /* line 555, ../sass/non-modular.scss */
  body .rightside .inner-wrap { float: left; }
  /* line 558, ../sass/non-modular.scss */
  body .patch { left: 25px; }
  /* line 561, ../sass/non-modular.scss */
  body #header { width: 768px; margin-left: -400px; }
  /* line 565, ../sass/non-modular.scss */
  body #nc-left-col .featured img { width: 228px; }
  /* line 568, ../sass/non-modular.scss */
  body.blog.featured-image #arrow-mark { background-size: 78%; margin: -5px 0px 10px -31px; }
  /* line 572, ../sass/non-modular.scss */
  #branding { height: 150px !important; } }
