$color-light-gray: #ccc;
$color-medium-gray: #777;
$color-dark-gray: #555;

$color-primary: #39275B;
$color-primary-bg: #DFDDE8;
$color-primary-bold: #491f99;

$color-secondary: #C79900;
$color-secondary-bright: #EBB700;;
$color-secondary-bg: #D7C896;
$color-secondary-bg-bright: #EDE8C4;
$color-secondary-bg-highlight: #fcf9dc;

$color-accent-green: #5B8F22;
$color-accent-blue: #0046AD;
$color-accent-blue2: #63B1E5;
$color-accent-blue3: #097bbd;
$color-accent-orange: #C75B12;
