// compass imports
@import "breakpoint";
@import "singularitygs";
@import "compass/css3";
@import "colors";
@import "flexbox";
@import "bootstrap-variables";

$header_height: 110px;

// singularity grids
$mobile-first: false;
$breakpoint-default-feature: "max-width";

$grids: 12;
$gutters: 1;
$gutter-styles: "split";

// breakpoints https://github.com/Team-Sass/breakpoint
// defaults to max-width
$breakpoints:
  "xlarge" (min-width 1200px),
  "large" (min-width 980px),
  "!large" (max-width 979px),
  "tablet" (768px 979px),
  "mobile" (max-width 767px),
  "!mobile" (min-width 768px);

$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;

// mixins

@mixin font-size($font-size-ratio: 1, $line-height-ratio: 1.5) {
  $font-size: $font-size-ratio * $baseFontSize;
  font-size: $font-size;
  line-height: $line-height-ratio * $font-size;
}
