// Default Layout -- includes styles relating to position, width/height,
// margin/padding
//  - overrides styles provided by base bootstrap theme
//  - tablet and mobile styles should go in their respective files

@import "_common";

// Sidebar
.region-sidebar-first {
  padding: 10px 0 0 55px;

  section {
    margin-bottom: 40px;
  }

  ul {
    margin-left: 0;
    list-style: none;
  }

  // Override bootstrap default input element styles to ensure fields aren't
  // too wide.
  input, textarea, .uneditable-input {
    width: 191px;

    @include respond-to("tablet") {
      width: 119px;
    }
  }

}

li.expanded a.active-trail
{
  border-left:2px solid #ffd700;
}

li > a.active{
  background-color:#fcf9dc;
  border-left:2px solid #ffd700;
}