// Default Layout -- includes styles relating to position, width/height,
// margin/padding
//  - overrides styles provided by base bootstrap theme
//  - tablet and mobile styles should go in their respective files

@import "_common";

#content {
  position: relative;
  padding: 20px 0;

  .inner {
    padding: 0 40px;
  }

}

// Sidebars
.sidebar {
  margin-top: 40px;

  .region {
    padding: 0 20px;
  }

  section {
    margin-bottom: 40px;
  }

  ul {
    margin-left: 0;
    list-style: none;
  }

  // Override bootstrap default input element styles to ensure fields aren't
  // too wide.
  input, textarea, .uneditable-input {
    max-width: 90%;
  }

}

// Everything Below responds only to the 'large' display
@include respond-to("large") {

// TODO: Make this CSS less specific (see GH https://github.com/uw-drupal/UW-Drupal-Theme/issues/65)
// Overrides the menu displays and forces all list items into one row,
// wrapping the individual items, rather than the whole list.
// This accomodates wrapping more gracefully.

  nav#access > ul.nav,
  #footer .menu-level-1 > ul.nav {
    width: 996px;
    display: table;
    table-layout: fixed;
  }

  nav#access > ul.nav > li,
  div#footer > div.menu-global-footer-container > div.region-footer-nav > section >  div.menu-level-1 > ul.nav > li {
    display: table-cell;
    float: none ;
    width: auto ;
  }

  nav#access > ul.nav > li {
    text-align: center;
  }

  nav#access > ul.nav > li > ul {
    text-align: left;
  }

  //replace the sprite image with a CSS border to allow for multiple lines
  nav#access > ul.nav {
    border-left: 1px solid #5d5d5d;
    border-right: 1px solid #434343;
  }

  nav#access > ul.nav > li {
    background: none;
    border-left: 1px solid #434343;
    border-right: 1px solid #5d5d5d;
  }


  // Alter the padding a touch to give more space to longer text (prevent extraneous wrapping)
  nav#access > ul.nav > li > a {
    padding: 9px 6px 12px 6px;
  }


  #footer .menu-level-1 > ul.nav > li {
    padding: 0 10px;
  }


  // Make sure that the body content pushes downward if the navbar grows taller
  header#branding {
    height: auto;
  }


  // push the caret around to play nice
  nav#access > ul.nav > li > a > span.caret {
    position: absolute;
    bottom: -13px;
    left: 7px;
  }

  ul.dropdown-menu {
    top: auto;
    margin-top: 6px;
  }


}

