@import "_common";

@include respond-to("mobile") {
  /* Stuff to Hide */
  .skip-link, .assistive-text {
    display: none;
  }
  /* =============================================================================
   * Mobile Header Queries Rewrite
   * ========================================================================== */

  #header {
    background: url("http://www.washington.edu/static/mobile/image/top_bg_z.jpg") repeat-x scroll center top white;
    position: relative;
  }
  #listicon-wrapper, #searchicon-wrapper {
    background: url("../img/mobile-header/dropdowns1x.png") no-repeat -29px 0px transparent;
    position: absolute;
    top: 4px;
    right: 10px;
    width: 35px;
    height: 30px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
  }
  #searchicon-wrapper {
    right: 50px;
    height: 30px;
    background: url("../img/mobile-header/dropdowns1x.png") no-repeat 7px 0px transparent;
  }
  /* =============================================================================
   * Mobile Header Queries
   * ========================================================================== */
  #headerMobile {
    position: relative;
    width: 100%;
  }
  #background {
    width: 100%;
    background-color: #000;
    opacity: .5;
    position: absolute;
    display: none;
  }
  #background.open {
    display: block;
  }
  #weather {
    bottom: 3px;
    color: #fff;
    font-size: 11px;
    height: 45px;
    left: 10px;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 48px;
    text-align: center;
    font-weight: bold;
  }
  #weather a {
    color: #fff;
    line-height: 11px;
    font-weight: bold;
    font-size: 11px;
  }
  #search {
    box-shadow: inset 0px -2px 4px #DDD;
    -webkit-box-shadow: inset 0px -2px 4px #DDD;
    background-color: #fff;
  }
  .search-options {
    display: none;
  }
  .main-search {
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    width: 95%;
    position: relative;
    transition: height .5s;
    -moz-transition: height .5s;
    /* Firefox 4 */
    -webkit-transition: height .52s;
    /* Safari and Chrome */
    -o-transition: height .5s;
    /* Opera */
    -webkit-transform: translate3d(0, 0, 0);
  }
  .wfield {
    -webkit-box-shadow: inset 2px 2px 4px #888;
    box-shadow: inset 2px 2px 4px #888;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 30px;
    border: none;
    background: url("http://www.washington.edu/static/mobile/image/mag.gif") no-repeat right center white;
    margin-top: 5px;
    display: block;
  }
  .wfield input {
    -webkit-appearance: none;
    height: 25px;
    padding: 3px 0 5px 15px;
    border: none;
    width: 100%;
    background: none;
    font-size: 15px;
    color: #484848;
  }
  #logo {
    text-align: center;
    height: 44px;
  }
  .formbutton {
    display: none;
  }
  /* =============================================================================
   Body Content Styles
  ========================================================================== */
  #s {
    width: 90%;
    padding: 9px 0 9px 10%;
  }
  h1 {
    display: block;
    margin: 16px 0 16px -10px;
    padding: 0 10px;
    border-left: 4px solid #D7A900;
    @include font-size(1.75);
  }
  h1 i, h1 em {
    font-size: 31px;
  }
}
