@import "_common";

.container-primary {
  background-color: white;
}

.widget img {
  margin: 0 0 10px;
}

.widget h2 {
  background: url(../img/widgets/headline-background.jpg) no-repeat -16px -148px transparent;
  padding: 32px 0 5px;
}

.screen-reader-text {
  position: absolute;
  z-index: -1;
  top: 12px;
  left: 25px;
}

::-webkit-input-placeholder {
  color: #888888;
}

:-moz-placeholder {
  color: #888888;
}

.menu a.active-trail,
.menu a.active {
  font-weight: bold;
}

.widget_nav_menu {
  h2 {
    margin: 0;
    padding: 0 0 30px 0;
    background: image-url("side-menu-bg.gif") no-repeat bottom center transparent;
  }

  h2 a {
    margin-left: -14px;
    padding-left: 13px;
    border: none;
    font-size: 21px;
    color: #39275b;
    background: image-url("arrow.png") no-repeat -25px -11px transparent;
  }

  a {
    display: block;
    padding: 4px 0;
    border-bottom: 1px solid #f4f4f4;
    font-size: 13px;
    color: #484848;
    text-decoration: none;
  }

  li {
    padding-left: 10px;
  }

  li a {
    margin-left: -14px;
    padding-left: 10px;
    position: relative;
    border-left: 4px solid #fff;
    @include transition(background-color 0.15s linear);

    &:hover {
      border-left: 4px solid #d7a900;
      background-color: #fcf9dc;
    }
  }
}

.region-sidebar-first .menu a:hover {
  font-weight: bold;
}

.region-sidebar-first .widgettitle a:hover {
  color: #919191;
}

.entry-content ul li {
  margin-left: 0;
  margin-bottom: 5px;
  background: url("../img/bullet-gold.png") no-repeat left 7px transparent;
  padding-left: 12px;
}

.more,
.rss-more {
  background: url("../img/misc/bullet.png") right center no-repeat;
  padding-right: 10px;
  padding: 6px 17px 6px 10px;
  background-color: #F4F4F4;
  border-radius: 20px;
}

// high-dpi styles
// FIXME: these hdpi styles should be moved to their respective modules

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (min-device-pixel-ratio: 1.5) {
  #listicon-wrapper {
    background: url("../img/mobile-header/dropdowns2x.png") no-repeat -29px 0px transparent;
    background-size: 66px 32px;
  }
  #searchicon-wrapper {
    background: url("../img/mobile-header/dropdowns2x.png") no-repeat 10px 0px transparent;
    background-size: 66px 32px;
  }
}

// FIXME: desktop styles below need to be "smacked"
@media (min-width: 768px) {

  #header {
    position: relative;
    height: $header_height;
    @include grid-span(12, 1);
    @include respond-to("xlarge") {
      @include grid-span(10, 2);
    };
    z-index: 4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .header-image {
    margin-top: -200px;
    display: block;
    height: 145px;
    overflow: hidden;
    text-align: center;
    background-color: #d6e8fa;
  }

  .assistive-text {
    position: absolute !important;
    z-index: -1;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }

  #header a.assistive-text:active,
  #header a.assistive-text:focus {
    padding: 6px 21px;
    z-index: 3;
    background: #EEE;
    border-bottom: 1px solid #ddd;
    color: #1982D1;
    clip: auto !important;
    font-size: 12px;
    position: absolute;
    text-decoration: underline;
    top: -30px;
    left: 9.9%;
  }

  #access {
    position: relative;
    z-index: 3;
  }

  .post-thumbnail.widget p {
    clear: both;
    display: block;
    font-size: 12px;
    margin: 0 15px 0 0;
    padding: 5px 5px 5px 10px;
    background-color: #F4F4F4;
  }

  #content {
    background-color: white;
  }

  .container-primary {
    @include box-shadow(0 0 7px lightgrey);
    @include border-radius(5px);
  }

  #arrow-mark {
    position: absolute;
    left: -7px;
    top: 28px;
    background: url(../img/arrow.png) no-repeat 0 0 transparent;
    width: 32px;
    height: 50px;
    display: block;
  }

  // divider shadow
  // (replaces side-stripe images)
  .two-sidebars .divider:before,
  .sidebar-first .divider:before {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    @include border-radius(5px, 200px);
    @include box-shadow(0 0 15px rgba(black, 0.25));
    content: "";
  }
  .two-sidebars .divider:after,
  .sidebar-second .divider:after {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    @include border-radius(5px, 200px);
    @include box-shadow(0 0 15px rgba(black, 0.25));
    content: "";
  }
}
