@import "base";

body {  font-size: 90% }
h1,
h2,
h3,
h4 {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  letter-spacing: -.05em;
  color: #39275B;
}
h1 {
  margin: 10px 0 25px;
  font-size: 2.65em;
  font-weight: 400;
  line-height: 1.1em;
}
h2,
h3,
h4 {
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 0;
  font-size: 1.7em;
}
h1 i,
h1 em {
  font-weight: 400;
  font-family: Baskerville,"Times New Roman",Times,serif;
  text-transform: lowercase;
  font-size: 1.1em;
}
h2 {
  font-size: 1.5em;
  line-height: 26px;
  margin-bottom: 10px;
  letter-spacing: 0;
  font-weight: 300;
}
h3 {
  color: #5C441F;
  font-size: 1.3em;
  line-height: 26px;
}
h4 {
  font-weight: 600;
  font-size: 1.1em;
  line-height: 24px;
}
h4 em {
  color: #6B6B6B;
  font-family: Baskerville,"Times New Roman",Times,serif;
  font-weight: 300;
  font-size: 1.3em;
}
a {  color: #407BA0 }
a:focus {
  color: #005580;
  text-decoration: underline;
}
#branding a:focus {  outline: thin dotted #fff }
p {
  line-height: 1.5em;
  margin-bottom: 1.4em;
}
ul,
ol {
  margin-left: 5px;
  margin-bottom: 1.4em;
}
li {  line-height: 21px }
img {  height: auto !important }
object,
embed,
iframe {
  margin: 10px 0 15px;
  display: block;
  max-width: 100% !important;
}
hr {  clear: both }
#sidebar ul {  margin-left: 0 }
#sidebar li {  list-style: none }
.widget {  margin: 0 0 25px 0 }
.widget img {  margin: 0 0 10px }
.widget_recent_entries h2,
.widget_categories h2,
.widget_archive h2,
.widget_links h2,
.widget_archive h2,
.widget_links h2,
.popular-posts h2,
.widget_yarpp_widget h2,
.widget_uw_showcase h2,
.widget_mailchimp_subscribe h2,
.widget_text h2,
.subpage_menu h2,
.pagelet_widget h2,
.widget_uw_rss_widget h2,
#masonry h2 {
  background: url(../img/widgets/headline-background.jpg) no-repeat -16px -148px transparent;
  padding: 32px 0 5px;
}
.pagelet_widget h2 {  background-position: -16px -295px }
.widget_links h2 {  background-position: -16px -148px }
.documents h2 {  background-position: -16px -154px }
.video h2 {  background-position: -16px -295px }
.announcements h2 {  background-position: -16px -454px }
.widget_recent_entries h2 {  background-position: -16px -578px }
.widget_categories h2 {  background-position: -16px -154px }
.widget_archive h2 {  background-position: -16px -295px }
.popular-posts {  background-position: -16px -295px }
.widget_yarpp_widget h2 {  background-position: -16px -578px }
.widget_categories select {  width: 100% }
.widget_links li {  margin: 0 0 10px }
.widget_links a {
  font-size: 16px;
  display: block;
  line-height: 21px;
}
#sidebar .video li {
  background: url(../img/widgets/widget-sprite.png) no-repeat 2px -201px transparent;
  padding: 2px 0 2px 25px;
}
#sidebar .announcements li {  margin: 0 0 0 20px }
.widget_search {  margin-bottom: 15px }
.widget_search div {  position: relative }
.screen-reader-text {
  position: absolute;
  z-index: -1;
  top: 12px;
  left: 25px;
}
#s {
  border-radius: 30px;
  padding: 9px 0 9px 38px;
  width: 83%;
  color: #444;
  box-shadow: inset 1px 1px 5px #d3d3d3;
  -webkit-box-shadow: inset 1px 1px 5px #d3d3d3;
  -moz-box-shadow: inset 1px 1px 5px #d3d3d3;
  border: none;
}
::-webkit-input-placeholder {  color: #888 }
:-moz-placeholder {  color: #888 }
#searchsubmit {
  position: absolute;
  left: 9px;
  top: 5px;
  background: url(../img/header/header-sprite.png) no-repeat -103px 2px transparent;
  box-shadow: none;
  border: none;
  display: block;
  text-indent: -999px;
  overflow: hidden;
  padding: 5px 16px;
  height: 28px;
  width: 32px;
}
.widget_nav_menu h2,
.subpage_menu h2 {
  font-size: 21px;
  color: #39275b;
  line-height: 26px;
  padding: 0 0 30px 0;
  margin: 0;
  background: url(../img/side-menu-bg.gif) no-repeat bottom center transparent;
}
.widget_nav_menu h2 a,
.subpage_menu h2 a {
  font-size: 21px;
  color: #39275b;
  border: none;
}
.widget_nav_menu h2 a,
.subpage_menu h2 a {
  padding-left: 13px;
  background: url(../img/arrow.png) no-repeat -25px -11px transparent;
  margin-left: -14px;
}
.widget_nav_menu a,
.subpage_menu a {
  text-decoration: none;
  border-bottom: 1px solid #f4f4f4;
  display: block;
  color: #484848;
  font-size: 13px;
  padding: 2px 0 2px;
  margin-bottom: 4px;
}
#sidebar .menu a:hover {  font-weight: bold }
#sidebar .widgettitle a:hover {  color: #919191 }
.widget_nav_menu li,
.subpage_menu li {
  border-left: 4px solid #fff;
  margin-left: -10px;
  padding-left: 10px;
  position: relative;
  -moz-transition: color 0.1s linear;
  -o-transition: border 0.1s linear;
  -webkit-transition: border 0.1s linear;
  transition: border 0.1s linear;
}
.widget_nav_menu li:hover,
.subpage_menu li:hover {  border-left: 4px solid #d7a900 }
.widget_nav_menu li:last-child a,
.subpage_menu li:last-child a,
.related-posts li:last-child {  border: none }
.menu .sub-menu {
  display: none;
  z-index: 999;
  top: -20px;
  position: absolute;
  right: 250px;
  width: 200px;
  background-color: white;
  background-color: white;
  box-shadow: 0 0 8px #b5b5b5;
  -moz-box-shadow: 0 0 8px #b5b5b5;
  -webkit-box-shadow: 0 0 8px #b5b5b5;
  padding: 20px 15px 15px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.menu .menu-item:hover .sub-menu {  display: block }
.menu .menu-item .sub-menu:after {
  content: " ";
  background: url("../img/misc/menu-notch.png") no-repeat -3px 0 transparent;
  color: #F4F4F4;
  display: block;
  width: 15px;
  height: 30px;
  position: absolute;
  font-size: 17px;
  top: 20px;
  right: -15px;
}
.sub-menu li:last-child a {  border-bottom: none }
#nc-left-col .widget ul li,
#sidebar .announcements ul li,
.entry-content ul li,
.widget_text ul li,
.widget_uw_showcase ul li,
.pagelet_widget ul li,
.widget_uw_rss_widget ul li {
  margin-left: 0;
  margin-bottom: 5px;
  background: url("../img/bullet-gold.png") no-repeat left 7px transparent;
  padding-left: 12px;
}
li {  list-style: none }
ol li {
  list-style: decimal;
  margin-left: 18px;
}
.more,
.rss-more {
  background: url("../img/misc/bullet.png") right center no-repeat;
  padding-right: 10px;
  padding: 6px 17px 6px 10px;
  background-color: #F4F4F4;
  border-radius: 20px;
}
.comment {  list-style: none }
.commentlist {  margin: 0 }
.commentlist .children {  margin: 0 0 0 20px }
.comment-body {
  border-left: 3px solid #efefef;
  font-size: 14px;
  line-height: 18px;
  margin: 20px 0;
  padding: 0 20px;
}
.depth-1 {  border-bottom: 1px dotted #ddd }
.reply {
  text-align: right;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}
.comment-author img {
  float: left;
  margin: 0 15px 0 0;
}
.comment-body p {  padding: 10px 0 }
#comments,
#respond h3 {
  font-size: 16px;
  padding: 40px 15px 0 25px;
  display: block;
  clear: both;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 20px;
}
#respond h3 {  padding: 40px 15px 15px 0 }
.nocomments {  display: none }
.entry-meta {  margin: 10px 0 }
.pull-right {
  border: 2px solid;
  padding: 3px 12px;
  border-radius: 30px;
  background-color: #00B424;
  color: white;
  text-shadow: 1px 1px 1px #333;
}
.pull-right .pull-right {
  padding: 0;
  border: 0;
}
.pull-right a {  color: white }
.three-col {  margin: 0 17px }

@media (max-width: 979px) {
    body .navbar .btn-navbar {
      text-shadow: none;
      background-color: #666;
      background-position: 0 0;
      @include background-image(linear-gradient(#c2c2c2, #858585));
      border-color: #222 #222 #000;
      border-color: #adadad;
      position: relative;
      z-index: 1;
    }
    body .navbar .btn-navbar:hover {
      @include background-image(linear-gradient(#858585, #222222));
      background-position: 0 0;
    }
}