@media (min-width: 768px) and (max-width: 979px) {
  #access {
    overflow: hidden;
  }
  body #primary {
    width: 768px;
    margin: 0 auto;
  }
  body .rightside .inner-wrap {
    float: left;
  }

  body #thin-strip div {
    width: 768px;
    margin: 0 auto;
  }
  body .patch {
    left: 25px;
  }
  body #header {
    width: 768px;
    margin-left: -400px;
  }
  body .wordmark {
    left: 130px;
  }
  .main-search {
    right: 0;
  }
  #search .search-toggle {
    right: 7px;
  }
  .nav-collapse, .nav-collapse.collapse {
      visibility:hidden;
      height:0;
  }
  .navbar .btn-navbar::before {
    content: "MENU";
    position: absolute;
    right: 55px;
    color: #777;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
  }
  body .nav-collapse .nav > li > a:hover {
    background-color: #f4f4f4;
    color: #484848;
  }
  body .open > .dropdown-menu {
    box-shadow: none;
    padding-bottom: 30px;
  }
  body .nav-collapse .dropdown-menu a:hover {
    background-color: #08C;
  }
  .dropdown-toggle { border-bottom: 1px solid #F3F3F3; }
  .nav li:last-child .dropdown-toggle {
    border: 0;
  }
  body .nav > li.uw-medicine {
    text-indent: 0;
    overflow:auto;
    width: 100%;
    background: none;
  }
  body #navbar-menu {
    background-color: #fff;
  }
  body .navbar .nav > li > a {
    color: #484848;
    padding: 12px 9px 12px 30px;
  }
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    color: #484848;
  }
  body #navbar-menu:before {
    top: 15px;
  }
  body .nav > li {
    background: none;
  }
  body #nc-left-col .featured img {
    width: 228px;
  }
  body.blog.featured-image #arrow-mark {
    background-size: 78%;
    margin: -5px 0px 10px -31px;
  }
  #branding {
    height: 150px !important;
  }

  /* ---- Alert ---- */

  #uwalert-alert-message h1, #uwalert-alert-message p {
    color: white;
    padding: 5px 0 0 200px;
    margin: 0;
  }
  #uwalert-alert-message div {
    width: 768px;
  }
}