/* line 5, ../../sass/modules/alert.scss */
#uwalert-alert-message { position: relative; z-index: 1; }

/* line 10, ../../sass/modules/alert.scss */
#alert-mini { position: fixed; display: none; top: 0; right: 0; left: 0; text-align: center; z-index: 1; color: #fff; padding: 40px 0 10px 0; z-index: 0; }

/* line 23, ../../sass/modules/alert.scss */
.logged-in #alert-mini { top: 28px; }

/* line 25, ../../sass/modules/alert.scss */
#uwalert-alert-message div { width: 1100px; margin: 0 auto; padding: 5px 0 15px; }

/* line 31, ../../sass/modules/alert.scss */
#uwalert-alert-message h1, #uwalert-alert-message p { color: white; padding: 5px 100px 0 200px; margin: 0; }

/* line 37, ../../sass/modules/alert.scss */
#uwalert-alert-message h1 { font-size: 18px; }

/* line 41, ../../sass/modules/alert.scss */
#uwalert-alert-message p { font-size: 13px; line-height: 15px; }

/* line 46, ../../sass/modules/alert.scss */
#uwalert-alert-message a { color: #FDE048; }

/* line 50, ../../sass/modules/alert.scss */
.uwalert-red { background-color: #C61029; }

/* line 54, ../../sass/modules/alert.scss */
.uwalert-red div { background: url("http://www.uw.edu/static/alert_logo_red-v2.jpg") no-repeat 0 -38px; }

/* line 58, ../../sass/modules/alert.scss */
#alert-mini.uwalert-red { background: url("http://www.uw.edu/static/alert_logo_red-v2.jpg") no-repeat 16% 14% #c61029; background-size: 18%; }

/* line 63, ../../sass/modules/alert.scss */
.uwalert-steel { background-color: #597286; }

/* line 67, ../../sass/modules/alert.scss */
.uwalert-steel div { background: url("http://www.uw.edu/static/alert_logo_steel-v2.jpg") no-repeat 0 -38px; }

/* line 71, ../../sass/modules/alert.scss */
#alert-mini.uwalert-steel { background: url("http://www.uw.edu/static/alert_logo_steel-v2.jpg") no-repeat 16% 14% #597286; background-size: 18%; }

/* line 76, ../../sass/modules/alert.scss */
.uwalert-blue { background-color: #0193c9; }

/* line 80, ../../sass/modules/alert.scss */
.uwalert-blue div { background: url("http://www.uw.edu/static/alert_logo_blue-v2.jpg") no-repeat 0 -38px; }

/* line 84, ../../sass/modules/alert.scss */
#alert-mini.uwalert-blue { background: url("http://www.uw.edu/static/alert_logo_blue-v2.jpg") no-repeat 16% 14% #0193c9; background-size: 18%; }

/* line 89, ../../sass/modules/alert.scss */
.uwalert-orange { background-color: #ec7330; }

/* line 93, ../../sass/modules/alert.scss */
.uwalert-orange div { background: url("http://www.uw.edu/static/alert_logo_orange-v2.jpg") no-repeat 0 -38px; }

/* line 97, ../../sass/modules/alert.scss */
#alert-mini.uwalert-orange { background: url("http://www.uw.edu/static/alert_logo_orange-v2.jpg") no-repeat 16% 14% #ec7330; background-size: 18%; }

@media (min-width: 768px) and (max-width: 979px) { /* line 103, ../../sass/modules/alert.scss */
  #uwalert-alert-message h1, #uwalert-alert-message p { color: white; padding: 5px 0 0 200px; margin: 0; }
  /* line 108, ../../sass/modules/alert.scss */
  #uwalert-alert-message div { width: 768px; } }
@media (max-width: 767px) { /* line 114, ../../sass/modules/alert.scss */
  .alert-steel div, .alert-orange div, .alert-red div, .alert-blue divs { background-position: center -40px; }
  /* line 117, ../../sass/modules/alert.scss */
  #uwalert-alert-message { position: relative; z-index: 1; }
  /* line 121, ../../sass/modules/alert.scss */
  #uwalert-alert-message div { width: 100%; padding-top: 65px; }
  /* line 125, ../../sass/modules/alert.scss */
  #uwalert-alert-message h1, #uwalert-alert-message p { color: #fff; padding: 5px 15px 5px 30px; margin: 0; border: none; }
  /* line 131, ../../sass/modules/alert.scss */
  #uwalert-alert-message h1 { line-height: 18px; } }
