@media (min-width: 768px) { /* line 4, ../../sass/modules/branding.scss */
  #branding { position: relative; height: auto; margin-bottom: 20px; padding-top: 30px; background-image: url('../../img/header/cherries.jpg?1363649974'); background-position: center top; z-index: 5; }
  /* line 13, ../../sass/modules/branding.scss */
  #branding a:focus { outline: thin dotted white; }
  /* line 17, ../../sass/modules/branding.scss */
  .wordmark, .patch { position: absolute; display: block; top: -30px; left: 0; }
  /* line 23, ../../sass/modules/branding.scss */
  .patch { width: 95px; height: 90px; background-color: #d7a900; }
  /* line 27, ../../sass/modules/branding.scss */
  .patch img { display: block; margin: 20px auto; width: 75px; }
  /* line 33, ../../sass/modules/branding.scss */
  .purple-patch .patch { background-color: #39275b; }
  /* line 36, ../../sass/modules/branding.scss */
  .hide-patch .patch { display: none; }
  /* line 39, ../../sass/modules/branding.scss */
  .wordmark { top: 0; left: 115px; width: 400px; height: 100px; }
  /* line 45, ../../sass/modules/branding.scss */
  .wordmark-white .wordmark { background-position: 0 -197px; } }
@media (max-width: 767px) { /* line 51, ../../sass/modules/branding.scss */
  #branding { height: auto; background-image: none; background-color: #fff; }
  /* line 56, ../../sass/modules/branding.scss */
  .patch { display: none; }
  /* line 59, ../../sass/modules/branding.scss */
  .wordmark { background: url("../img/mobile-header/logo1x.png") no-repeat 0 0 transparent; width: 263px; height: 44px; text-indent: -9999px; overflow: hidden; display: block; } }
@media (min-width: 768px) and (max-width: 979px) { /* line 68, ../../sass/modules/branding.scss */
  .wordmark { left: 130px; } }

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (min-device-pixel-ratio: 1.5) { /* line 76, ../../sass/modules/branding.scss */
  .wordmark { background: url("../img/mobile-header/logo2x.png") no-repeat 0 0 transparent; background-size: 230px 35px; } }
