@media (min-width: 980px) { /* line 3, ../../sass/modules/thinstrip.scss */
  .thinstrip-inner { width: 95.83333%; float: right; margin-left: 0; margin-right: 2.08333%; clear: none; } }
@media (min-width: 1200px) { /* line 3, ../../sass/modules/thinstrip.scss */
  .thinstrip-inner { width: 79.16667%; float: left; margin-right: -100%; margin-left: 10.41667%; clear: none; } }

@media (min-width: 768px) { /* line 13, ../../sass/modules/thinstrip.scss */
  .thinstrip ul { float: right; }
  /* line 16, ../../sass/modules/thinstrip.scss */
  .thinstrip { height: 30px; position: absolute; top: 0; left: 0; right: 0; background-color: #39275B; z-index: 1; -webkit-box-shadow: 0 0 6px #333333; -moz-box-shadow: 0 0 6px #333333; box-shadow: 0 0 6px #333333; overflow: hidden; }
  /* line 27, ../../sass/modules/thinstrip.scss */
  .thinstrip-fixed { position: fixed; top: 0px; }
  /* line 31, ../../sass/modules/thinstrip.scss */
  .thinstrip-fixed > .thinstrip-inner { background: url("../img/mobile-header/logo1x.png") no-repeat -35px -5px; }
  /* line 34, ../../sass/modules/thinstrip.scss */
  .thinstrip-inner { height: 30px; }
  /* line 37, ../../sass/modules/thinstrip.scss */
  .thinstrip li { float: left; list-style: none; padding: 5px 10px 0 0; }
  /* line 42, ../../sass/modules/thinstrip.scss */
  .thinstrip li a { color: #fff; font-size: 73%; text-transform: uppercase; font-weight: bold; }
  /* line 48, ../../sass/modules/thinstrip.scss */
  .thinstrip img { margin-top: -8px; }
  /* line 51, ../../sass/modules/thinstrip.scss */
  .tan-band .thinstrip { background-color: #f3f2e9; }
  /* line 54, ../../sass/modules/thinstrip.scss */
  .tan-band .thinstrip a { color: #555; text-shadow: 1px 1px 1px #fff; }
  /* line 58, ../../sass/modules/thinstrip.scss */
  .tan-band .thinstrip-fixed .thinstrip-inner { background: url(../img/header/header-sprite.png) no-repeat 10px -225px transparent; } }
@media (max-width: 767px) { /* line 64, ../../sass/modules/thinstrip.scss */
  .main-search, .thinstrip { visibility: hidden; }
  /* line 67, ../../sass/modules/thinstrip.scss */
  .main-search.activate, .thinstrip.activate { height: 45px; transition: height .5s; -moz-transition: height .5s; /* Firefox 4 */ -webkit-transition: height .52s; /* Safari and Chrome */ -o-transition: height .5s; /* Opera */ /*visibility: visible;*/ }
  /* line 78, ../../sass/modules/thinstrip.scss */
  .thinstrip.activate { height: 340px; display: block !important; }
  /* line 82, ../../sass/modules/thinstrip.scss */
  .thinstrip { height: 0; overflow: hidden; z-index: 9999; transition: height .5s; -moz-transition: height .5s; /* Firefox 4 */ -webkit-transition: height .52s; /* Safari and Chrome */ -o-transition: height .5s; /* Opera */ width: 100%; visibility: hidden; }
  /* line 96, ../../sass/modules/thinstrip.scss */
  .thinstrip span { background: url("../img/misc/arrow2.png") no-repeat scroll right -69px transparent; color: #FFFFFF; display: block; font-size: 10px; height: 32px; padding: 8px 0 0; text-align: center; text-transform: uppercase; width: 61px; }
  /* line 107, ../../sass/modules/thinstrip.scss */
  .thinstrip .menuShow { display: block; }
  /* line 110, ../../sass/modules/thinstrip.scss */
  .thinstrip ul { background: url("../img/mobile-header/gridLines.png") center center no-repeat white; height: 325px; z-index: 9999; box-shadow: inset 0 0 20px #d3d3d3; -webkit-box-shadow: inset 0 0 20px #d3d3d3; margin: 5px; padding: 0; border: 1px solid #e1e1e1; }
  /* line 120, ../../sass/modules/thinstrip.scss */
  .thinstrip li { float: left; list-style: none outside none; margin: 20px 0 0; text-align: center; width: 33%; }
  /* line 127, ../../sass/modules/thinstrip.scss */
  .thinstrip a { clear: both; display: block; }
  /* line 131, ../../sass/modules/thinstrip.scss */
  .thinstrip li a { color: #39275B; margin: 0; font-size: .8em; }
  /* line 136, ../../sass/modules/thinstrip.scss */
  .thinstrip li a:last-child { margin: 5px 0 0 0; }
  /* line 139, ../../sass/modules/thinstrip.scss */
  .thinstrip li a { padding: 54px 0 0 0; }
  /* line 142, ../../sass/modules/thinstrip.scss */
  .thinstrip li a { background-image: url("../img/mobile-header/sprite1x.png"); background-repeat: no-repeat; }
  /* line 146, ../../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(1) a { background-position: center 0; }
  /* line 149, ../../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(2) a { background-position: center -173px; }
  /* line 152, ../../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(3) a { background-position: center -267px; }
  /* line 155, ../../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(4) a { background-position: center -364px; }
  /* line 158, ../../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(5) a { background-position: center -446px; }
  /* line 161, ../../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(6) a { background-position: center -690px; }
  /* line 164, ../../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(7) a { background-position: center -530px; }
  /* line 167, ../../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(9) a { background-position: center -83px; }
  /* line 170, ../../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(10) a { background-position: center -530px; }
  /* line 173, ../../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(11) a { background: none; padding: 0; }
  /* line 177, ../../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(12) a { background: none; padding: 0; margin: 0; }
  /* line 182, ../../sass/modules/thinstrip.scss */
  .thinstrip li:nth-child(12) { background: none; margin: 0; } }
@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (min-device-pixel-ratio: 1.5) { /* line 190, ../../sass/modules/thinstrip.scss */
  .thinstrip ul { background: url("../img/mobile-header/gridLinesX2.png") center center no-repeat #f8f8f8; background-size: 295px 315px; }
  /* line 194, ../../sass/modules/thinstrip.scss */
  .thinstrip li a { background-image: url("../img/mobile-header/sprite2x.png"); background-size: 77px 750px; } }
