@import "_common";

@include respond-to("!mobile") {
  .wordmark,
  .patch {
    position: absolute;
    display: block;
    top: -30px;
    left: 0;
  }
  .purple-patch .patch {
    background-color: #39275b;
  }
  .hide-patch .patch {
    display: none;
  }
}

#branding {
  position: relative;
  height: 150px;
  margin-bottom: 20px;
  padding-top: 30px;
  z-index: 1;
  background-image: image-url("header/cherries.jpg");
  background-position: center top;
}
#branding a:focus {
  outline: thin dotted white;
}
.wordmark-white .wordmark {
  background-position: 0 -197px;
}
.patch {
  width: 95px;
  height: 90px;
  background-color: #d7a900;
  img {
    display: block;
    margin: 20px auto;
    width: 75px;
  }
}
.wordmark {
  top: 0;
  left: 115px;
  width: 400px;
  height: 100px;
}

@include respond-to("mobile") {
  #branding {
    height: auto;
    background-image: none;
    background-color: #fff;
  }
  .patch {
    display: none;
  }
  .wordmark {
    background: url("../img/mobile-header/logo1x.png") no-repeat 0 0 transparent;
    width: 263px;
    height: 44px;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
  }
}
.wordmark {
  @include respond-to("tablet") {
    left: 130px;
  }
}

// high-dpi
@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 768px) and (min-device-pixel-ratio: 1.5) {
  .wordmark {
    background: url("../img/mobile-header/logo2x.png") no-repeat 0 0 transparent;
    background-size: 230px 35px;
  }
}