@import "_common";

.navbar {
  clear: both;
}

@include respond-to("large") {
  // large dropdown menu styles
  .navbar {
    background: #444;
    @include background(
      linear-gradient(top, #666, #444)
    );
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    @include clearfix;
    z-index: 10;

    .nav {
      position: relative;
      width: 100%;
      @include display-flex;
      border-left: 1px solid #5d5d5d;
      border-right: 1px solid #434343;

      > li {
        position: relative;
        @include display-flex;
        @include flex(1);
        @include align-items(center);

        > a {
          // top level links
          @include flex(1);
          border-left: 1px solid #434343;
          border-right: 1px solid #5d5d5d;
          text-align: center;
          color: #fff;
          text-shadow: none;
          padding: 10px 5px;
        }

        &.last > a {
          border: 0;
        }

        .dropdown-menu:before {
          top: -11px;
          border-bottom-color: $color-secondary-bright;
        }

        .dropdown-menu:after {
          top: -10px;
          border-bottom-color: $color-secondary-bright;
        }
      }

    }
  }

  .navbar-inner {
    position: relative;
    padding: 0;
    @include grid-span(12, 1);
    border: none;
    @include box-shadow(none);
  }

  .dropdown-menu > li > a {
    border-bottom: 1px solid #f1f1f1;
    padding: 4px 10px 4px 10px;
    color: $color-medium-gray;
  }

  .navbar .nav li.dropdown .active > a,
  .navbar .nav li.dropdown .active > a:hover {
    font-weight: bold;
  }

  .navbar .nav > li > a:focus,
  .navbar .nav > li > a:hover {
    background-color: transparent;
    color: $color-secondary-bright;
  }

  .navbar .nav .active > a,
  .navbar .nav .active > a:hover,
  .navbar .nav .active > a:focus {
    color: $color-secondary-bright;
    background-color: transparent;
  }

  .navbar .nav li.dropdown.open > .dropdown-toggle,
  .navbar .nav li.dropdown.active > .dropdown-toggle,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    color: $color-secondary-bright;
  }

  .navbar .nav .dropdown .active a {
    color: black;
  }

  .navbar .nav li.dropdown .dropdown-toggle .caret,
  .navbar .nav li.dropdown.open .caret {
    display: none;
  }

  .dropdown-menu {
    padding: 20px;
    border: 0;
    border-top: 4px solid $color-secondary-bright;
    @include box-shadow(inset 0 0 7px #656565);
    @include border-radius(0);
  }

  .open > .dropdown-menu {
    opacity: 1;
    @include transition(opacity 0.3s);
    @include box-shadow(1px 1px 5px rgba(black, 0.5));
    @include transform-origin(left, top);
    animation-name: pop-in;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: pop-in;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: pop-in;
    -moz-animation-duration: .2s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
  }

  .pull-right .dropdown-menu {
    @include transform-origin(right, top);
  }
}

@include respond-to("xlarge") {
  .navbar-inner {
    @include grid-span(10, 2);
  }
}

// mobile and tablet
@include respond-to("!large") {

  #navbar-menu {
    position: relative;
  }

  .navbar {
    margin-bottom: 0;
  }

  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    position: relative;
  }

  .nav-collapse .dropdown-menu a {
    padding: 5px;
  }

  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    background: $color-medium-gray;
  }

  .nav-collapse .nav li.last > a {
    border-bottom: none;
  }

  .navbar-inner {
    background: $color-medium-gray;
    @include background(
      linear-gradient(top, darken($color-medium-gray, 10%), $color-medium-gray 5px)
    );
  }

  .nav-collapse .open > .dropdown-menu {
    padding: 10px 15px;
  }

  .nav-collapse .nav > li > a:hover {
  }

  .open > .dropdown-menu {
    box-shadow: none;
    padding-bottom: 30px;
  }

  .navbar .nav > li > a {
    padding: 10px 10px 10px 20px;
  }

  .nav > li {
    background: none;
  }
}

// ensure @keyframes come last in this file for IE compatibility
@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.7); }
  100% { opacity: 1; transform: scale(1); }
}
@-webkit-keyframes pop-in {
  0% { opacity: 0; -webkit-transform: scale(0.7); }
  100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
  0% { opacity: 0; -moz-transform: scale(0.7); }
  100% { opacity: 1; -moz-transform: scale(1); }
}